.dot-tl {
  top: -5px;
  left: -5px;
}

.dot-tr {
  top: -5px;
  right: -5px;
}

.dot-bl {
  bottom: 5px;
  left: -5px;
}

.dot-br {
  bottom: 5px;
  right: -5px;
}

.dot-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dot-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dot-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dot-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}