footer {
  background-color: #2f2f2f;

  > .wrapper {
    padding-top: 60px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%;

      > a {
        width: 128px;
      }

      > nav {
        width: 260px;
        margin-top: 30px;

        > ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          > li {
            margin-bottom: 25px;
            width: 50%;

            > a {
              font-size: 14px;
              line-height: 2.14;
              letter-spacing: 0.4px;
              color: #ffffff;
              text-transform: uppercase;
              -webkit-transition: border-bottom .1s ease;
              -o-transition: border-bottom .1s ease;
              transition: border-bottom .1s ease;
            }

            > a:hover {
              border-bottom: 2px solid #0bca95;
            }
          }
        }
      }

      > #work {
        margin-top: 30px;

        > h1 {
          font-size: 14px;
          font-weight: bold;
          line-height: 2.14;
          letter-spacing: 0.4px;
          color: #ffffff;
          text-transform: uppercase;
        }

        > ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-top: 7px;
          > li:last-child {
            margin-right: 0;
          }

          > li {
            margin-right: 50px;

            > span {
              opacity: 0.3;
              font-size: 12px;
              font-weight: bold;
              letter-spacing: 0.4px;
              color: #ffffff;
              text-transform: uppercase;
            }

            > p {
              font-size: 14px;
              line-height: 2.14;
              letter-spacing: 0.4px;
              color: #ffffff;
            }
          }
        }
      }

      > #address {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > div {
          text-align: right;

          > span, > p {
            font-size: 17px;
            line-height: 1.18;
            letter-spacing: 0.5px;
            text-align: right;
            color: #ffffff;
          }

          > span {
            font-weight: 500;
          }
        }

        > a {
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.3px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          border-radius: 29px;
          -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          background-color: #0bca95;
          display: inline-block;
          padding: 20px 40px;
          margin-top: 30px;
          -webkit-transition: -webkit-box-shadow 0.3s ease;
          transition: -webkit-box-shadow 0.3s ease;
          -o-transition: box-shadow 0.3s ease;
          transition: box-shadow 0.3s ease;
          transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
        }

        > a:hover {
          -webkit-box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
          box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
        }
      }
    }

    > p {
      opacity: 0.3;
      font-size: 12px;
      letter-spacing: 0.4px;
      text-align: center;
      color: #ffffff;
      margin-top: 30px;
    }
  }
}

@media (max-width: 1040px) {
  footer {
    > .wrapper {
      > div {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        > #address {
          margin-top: 30px;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;

          > div {
            text-align: center;

            > p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}