#three-services {
  > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    > img, > div {
      width: 33.33333333333333333333333%;
      height: 390px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    > div {
      background-color: #0bca95;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;

      > a {
        border-radius: 32px;
        border: solid 1px #ffffff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-align: center;
        color: #ffffff;
        padding: 20px 40px;
        text-transform: uppercase;
        margin-top: -50px;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease,
        margin-top 0.5s ease;
        -o-transition: opacity 0.3s ease,
        margin-top 0.5s ease;
        transition: opacity 0.3s ease,
        margin-top 0.5s ease;
      }

      > h1 {
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 1.1px;
        text-align: center;
        color: #ffffff;
        z-index: 1;
      }

      > div {
        height: 60px;
        width: 60px;
        background-color: #0bca95;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      > .l {
        left: -15px;
      }

      > .r {
        right: -15px;
      }

      > .t {
        top: -15px;
      }
    }
  }
}