header:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.62);
}

header {
  background-image: url("../../img/services/header-car.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;

  >.wrapper {
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;
    z-index: 1;

    > .header-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > #ht-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        > a {
          width: 128px;
        }

        > nav {
          margin-left: 70px;

          > ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            > li {
              margin-right: 40px;

              > a {
                font-size: 14px;
                line-height: 2.14;
                letter-spacing: 0.4px;
                padding-bottom: 1px;
                color: #ffffff;
                text-transform: uppercase;
                -webkit-transition: border-bottom .1s ease;
                -o-transition: border-bottom .1s ease;
                transition: border-bottom .1s ease;
              }

              > a:hover {
                border-bottom: 2px solid #0bca95;
              }
            }
          }
        }
      }

      > #ht-right {

        > p {
          font-size: 17px;
          line-height: 1.18;
          letter-spacing: 0.5px;
          text-align: right;
          color: #ffffff;

          > span {
            font-weight: 500;
          }
        }
      }
    }

    > h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      color: #ffffff;
    }
  }
}

@media (max-width: 990px) {
  header {
    > .wrapper {

      > .header-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > #ht-left {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;

          > nav {
            margin-left: 0;
            margin-top: 20px;

            > ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              > li {
                margin-bottom: 10px;
                text-align: center;
                margin-right: 0;
              }
              > li:last-child {
                margin-bottom: 20px;
              }
            }
          }
        }

        > #ht-right {
          > p {
            text-align: center;
          }
        }
      }
    }
  }
}