* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#admin-panel {
  background-color: grey;
  position: fixed;
  top: 0;
  z-index: 99999999;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0bca95;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#map-section {
  position: relative;
}
#map-section > .wrapper {
  max-width: 1200px;
  pointer-events: none;
  padding-top: 145px;
  padding-bottom: 145px;
  z-index: 1;
  position: relative;
}
#map-section > .wrapper > .shadow {
  -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
}
#map-section > .wrapper > .shadow > div {
  pointer-events: all;
  display: inline-block;
  padding: 45px 50px 50px 50px;
  background-color: #fff;
  max-width: 367px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
  clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
}
#map-section > .wrapper > .shadow > div > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#map-section > .wrapper > .shadow > div > ul {
  margin-top: 40px;
}
#map-section > .wrapper > .shadow > div > ul > li:last-child {
  margin-bottom: 0;
}
#map-section > .wrapper > .shadow > div > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}
#map-section > .wrapper > .shadow > div > ul > li > div {
  margin-left: 15px;
  margin-top: -7px;
}
#map-section > .wrapper > .shadow > div > ul > li > div > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.5px;
  color: #323656;
}
#map-section > .wrapper > .shadow > div > ul > li > div > p {
  font-size: 14px;
  line-height: 1.43;
  color: #323656;
}
#map-section > #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.shadow {
  -webkit-filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
}
.shadow > .form {
  width: 458px;
  min-height: 475px;
  background-color: #ffffff;
  padding: 51px 62px 43px 89px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  position: relative;
}
.shadow > .form > img {
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.shadow > .form > .form-default {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shadow > .form > .form-default > h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  margin-top: 35px;
}
.shadow > .form > .form-default > div {
  margin-top: 22px;
}
.shadow > .form > .form-default > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-default > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-default > .top-default {
  position: relative;
  display: inline-block;
  margin-top: 0;
}
.shadow > .form > .form-default > .top-default > .dot {
  z-index: 1;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -3px;
  left: -3px;
}
.shadow > .form > .form-default > .top-default > img {
  z-index: 2;
  position: relative;
}
.shadow > .form > .form-default > .default {
  font-size: 21px;
  line-height: 1.24;
  color: #323656;
  font-weight: 400;
  margin-top: 22px;
}
.shadow > .form > .form-default form > .error > input {
  color: #d90606;
}
.shadow > .form > .form-default form > .error > span {
  visibility: visible;
}
.shadow > .form > .form-default form > div {
  margin-top: 36px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shadow > .form > .form-default form > div > label {
  position: absolute;
  background-color: #ffffff;
  font-size: 12.2px;
  line-height: 1.31;
  letter-spacing: 0.4px;
  color: #212121;
  left: 11px;
  top: -13px;
  border: 5px solid #fff;
}
.shadow > .form > .form-default form > div > input {
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: 100px;
  border: solid 2px #dfdfdf;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:focus {
  border-color: #0bca95;
}
.shadow > .form > .form-default form > div > input::-webkit-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:-ms-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input::-ms-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input::placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > span {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #d90606;
  text-align: center;
  margin-top: 5px;
  visibility: hidden;
}
.shadow > .form > .form-default form > input {
  border: none;
  outline: none;
  margin-top: 19px;
  padding: 20px 75px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.shadow > .form > .form-default form > input:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
.shadow > .form > .form-error,
.shadow > .form > .form-success {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
}
.shadow > .form > .form-error > img,
.shadow > .form > .form-success > img {
  margin-top: 30px;
  height: 156px;
  width: 156px;
}
.shadow > .form > .form-error > h1,
.shadow > .form > .form-success > h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  text-align: center;
}
.shadow > .form > .form-error > div,
.shadow > .form > .form-success > div {
  margin-top: 22px;
}
.shadow > .form > .form-error > div > p,
.shadow > .form > .form-success > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-error > div > p > a,
.shadow > .form > .form-success > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-success > h1 {
  color: #0bca95;
}
.shadow > .form > .form-error > h1 {
  color: #d90606;
}
footer {
  background-color: #2f2f2f;
}
footer > .wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
footer > .wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}
footer > .wrapper > div > a {
  width: 128px;
}
footer > .wrapper > div > nav {
  width: 260px;
  margin-top: 30px;
}
footer > .wrapper > div > nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer > .wrapper > div > nav > ul > li {
  margin-bottom: 25px;
  width: 50%;
}
footer > .wrapper > div > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
}
footer > .wrapper > div > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
footer > .wrapper > div > #work {
  margin-top: 30px;
}
footer > .wrapper > div > #work > h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}
footer > .wrapper > div > #work > ul > li:last-child {
  margin-right: 0;
}
footer > .wrapper > div > #work > ul > li {
  margin-right: 50px;
}
footer > .wrapper > div > #work > ul > li > span {
  opacity: 0.3;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul > li > p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
}
footer > .wrapper > div > #address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer > .wrapper > div > #address > div {
  text-align: right;
}
footer > .wrapper > div > #address > div > span,
footer > .wrapper > div > #address > div > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
footer > .wrapper > div > #address > div > span {
  font-weight: 500;
}
footer > .wrapper > div > #address > a {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
footer > .wrapper > div > #address > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
footer > .wrapper > p {
  opacity: 0.3;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
@media (max-width: 1040px) {
  footer > .wrapper > div {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer > .wrapper > div > #address {
    margin-top: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer > .wrapper > div > #address > div {
    text-align: center;
  }
  footer > .wrapper > div > #address > div > p {
    text-align: center;
  }
}
header:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.62);
}
header {
  background-image: url("../../img/services/header-car.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
header > .wrapper {
  padding-top: 21px;
  padding-bottom: 21px;
  position: relative;
  z-index: 1;
}
header > .wrapper > .header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left > a {
  width: 128px;
}
header > .wrapper > .header-top > #ht-left > nav {
  margin-left: 70px;
}
header > .wrapper > .header-top > #ht-left > nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li {
  margin-right: 40px;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  padding-bottom: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
header > .wrapper > .header-top > #ht-right > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
header > .wrapper > .header-top > #ht-right > p > span {
  font-weight: 500;
}
header > .wrapper > h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 990px) {
  header > .wrapper > .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav {
    margin-left: 0;
    margin-top: 20px;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li:last-child {
    margin-bottom: 20px;
  }
  header > .wrapper > .header-top > #ht-right > p {
    text-align: center;
  }
}
#services-section {
  background-color: #2f2f2f;
}
#services-section > .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}
#services-section > .wrapper > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #ffffff;
}
#services-section > .wrapper > ul {
  margin-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#services-section > .wrapper > ul > li {
  width: 360px;
  height: 245px;
  -webkit-clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 25px);
  clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 25px);
  margin-top: 30px;
}
#services-section > .wrapper > ul > li > a {
  position: relative;
}
#services-section > .wrapper > ul > li > a > div {
  width: 360px;
  height: 245px;
}
#services-section > .wrapper > ul > li > a > .main {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0 35px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#services-section > .wrapper > ul > li > a > .main > svg path {
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
#services-section > .wrapper > ul > li > a > .main > h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#services-section > .wrapper > ul > li > a > .back {
  position: absolute;
  top: 0;
  z-index: 1;
}
#services-section > .wrapper > ul > li > a > .back > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(11, 202, 149, 0.8);
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
#services-section > .wrapper > ul > li > a > .back > img {
  width: 100%;
  height: 100%;
}
#services-section > .wrapper > ul > li:hover > a > .main > svg path {
  fill: #0bca95;
}
#services-section > .wrapper > ul > li:hover > a > .main > h1 {
  color: #0bca95;
}
#services-section > .wrapper > ul > li:hover > a .back > .overlay {
  background-color: rgba(255, 255, 255, 0.8);
}
#services-section > .wrapper > ul:after {
  content: "";
  width: 360px;
  height: 1px;
}
@media (max-width: 1100px) {
  #main-2 > .wrapper > ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (max-width: 770px) {
  #main-2 > .wrapper > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
#services-single-1 {
  -webkit-box-shadow: 0 3px 10px 3px rgba(8, 110, 82, 0.13);
  box-shadow: 0 3px 10px 3px rgba(8, 110, 82, 0.13);
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}
#services-single-1 > .wrapper {
  padding-top: 21px;
  padding-bottom: 21px;
}
#services-single-1 > .wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#services-single-1 > .wrapper > div > a {
  font-size: 14px;
  line-height: 2.29;
  color: #0bca95;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#services-single-1 > .wrapper > div > a:first-child {
  padding-left: 0;
}
#services-single-1 > .wrapper > div > a:last-of-type:after {
  content: none;
}
#services-single-1 > .wrapper > div > a[href] {
  text-decoration: underline;
  color: #323656;
  cursor: pointer;
}
#services-single-1 > .wrapper > div > a[href]:hover {
  color: #0bca95;
}
#services-single-1 > .wrapper > div > svg {
  margin: 0 15px;
}
#services-single-1 > .wrapper > div > svg g#Mask {
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
#services-single-1:hover > .wrapper > div > svg g#Mask {
  fill: #0bca95;
}
#services-single-2 > .wrapper {
  margin-top: 90px;
  margin-bottom: 70px;
}
#services-single-2 > .wrapper > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#services-single-2 > .wrapper > ul > li {
  width: 48%;
  margin-bottom: 20px;
}
#services-single-2 > .wrapper > ul > li > a > div {
  -webkit-filter: drop-shadow(0 10px 10px rgba(39, 98, 181, 0.2));
  filter: drop-shadow(0 10px 10px rgba(39, 98, 181, 0.2));
}
#services-single-2 > .wrapper > ul > li > a > div > span {
  background-color: #ffffff;
  padding: 25px 30px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  font-size: 21px;
  line-height: 1.52;
  color: #323656;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#services-single-2 > .wrapper > ul > li > a:hover > div {
  -webkit-filter: drop-shadow(0 10px 10px rgba(8, 110, 82, 0.2));
  filter: drop-shadow(0 10px 10px rgba(8, 110, 82, 0.2));
}
#services-single-2 > .wrapper > ul > li > a:hover > div > span {
  color: #0bca95;
}
#services-leave-application {
  background-image: url("../../img/services/services-single-background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
#services-leave-application > .wrapper {
  padding-top: 75px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#services-leave-application > .wrapper > h1 {
  -webkit-text-stroke: 1px #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#services-leave-application > .wrapper > p {
  opacity: 0.95;
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
  max-width: 350px;
  margin-bottom: 43px;
}
#services-leave-application > .wrapper > a {
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 20px 43px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
#services-leave-application > .wrapper > a:hover {
  -webkit-box-shadow: 0 8px 20px 0 #0bca95;
  box-shadow: 0 8px 20px 0 #0bca95;
}
#services-single-3 {
  background-color: #ffffff;
}
#services-single-3 > .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}
.services-content > div {
  margin-bottom: 90px;
}
.services-content > div > h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #16192a;
  max-width: 800px;
  margin: 0 auto 20px auto;
}
.services-content > div > h1:after {
  content: url("../../img/waves.svg");
  margin-top: 10px;
  display: block;
}
.services-content > div > .image {
  width: 100%;
  height: 665px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
.services-content > div > .image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.services-content > div > .image > a {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 95px;
  width: 128px;
}
.services-content > div p {
  font-size: 17px;
  line-height: 1.76;
  color: #323656;
  margin-bottom: 30px;
}
.services-content > div b {
  font-weight: 500;
}
.services-content > div span {
  text-transform: uppercase;
  color: #0bca95;
  font-weight: 500;
}
.services-content > div ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-size: 17px;
  line-height: 1.76;
  color: #323656;
  margin-bottom: 30px;
}
.services-content > div ul li:before {
  content: url("../../img/dot.svg");
  margin-right: 10px;
}
.services-content > div a {
  font-size: 17px;
  line-height: 2.35;
  color: #0bca95;
  text-decoration: underline;
}
.services-content > div > h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
  margin-bottom: 20px;
}
.services-content > div > h2:before {
  content: url("../../img/wave.svg");
  display: block;
}
.services-content > div .type-1,
.services-content > div .type-2,
.services-content > div .type-3,
.services-content > div .type-4 {
  width: 100%;
  height: 665px;
  position: relative;
}
.services-content > div .type-1 > img,
.services-content > div .type-2 > img,
.services-content > div .type-3 > img,
.services-content > div .type-4 > img {
  max-width: 1000px;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
}
.services-content > div .type-1 > div,
.services-content > div .type-2 > div,
.services-content > div .type-3 > div,
.services-content > div .type-4 > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}
.services-content > div .type-1 > div > div,
.services-content > div .type-2 > div > div,
.services-content > div .type-3 > div > div,
.services-content > div .type-4 > div > div {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.services-content > div .type-1 > div > a,
.services-content > div .type-2 > div > a,
.services-content > div .type-3 > div > a,
.services-content > div .type-4 > div > a {
  z-index: 1;
  width: 128px;
  margin-right: 20px;
}
.services-content > div .type-1 > img {
  right: 0;
}
.services-content > div .type-1 > div > a {
  margin-top: 20px;
}
.services-content > div .type-2 > img {
  right: 0;
}
.services-content > div .type-2 > div {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.services-content > div .type-2 > div > a {
  margin-bottom: 20px;
}
.services-content > div .type-3 > img {
  left: 0;
}
.services-content > div .type-3 > div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.services-content > div .type-3 > div > a {
  margin: 20px 0 0 20px;
}
.services-content > div .type-4 > img {
  left: 0;
  margin-bottom: 20px;
}
.services-content > div .type-4 > div {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.services-content > div .type-4 > div > a {
  margin: 0 0 20px 20px;
}
.services-content > div:last-of-type {
  margin-bottom: 0;
}
#overlay {
  background-color: rgba(11, 202, 149, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  overflow: auto;
}
#overlay > div {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-height: 100%;
}
#overlay > div > div {
  margin-top: 0;
  position: relative;
}
#overlay > div > div > img {
  visibility: visible;
}
/*# sourceMappingURL=services.css.map */