#services-single-1 {
  -webkit-box-shadow: 0 3px 10px 3px rgba(8, 110, 82, 0.13);
  box-shadow: 0 3px 10px 3px rgba(8, 110, 82, 0.13);
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
  > .wrapper {
    padding-top: 21px;
    padding-bottom: 21px;
    > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > a {
        font-size: 14px;
        line-height: 2.29;
        color: #0bca95;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }

      > a:first-child {
        padding-left: 0;
      }

      > a:last-of-type:after {
        content: none;
      }

      > a[href] {
        text-decoration: underline;
        color: #323656;
        cursor: pointer;
      }

      > a[href]:hover {
        color: #0bca95;
      }

      > svg {
        margin: 0 15px;
      }

      > svg g#Mask {
        -webkit-transition: fill 0.3s ease;
        -o-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
    }
  }
}

#services-single-1:hover {
  > .wrapper {
    > div {
      > svg g#Mask {
        fill: #0bca95;
      }
    }
  }
}