#services-leave-application {
  background-image: url("../../img/services/services-single-background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  > .wrapper {
    padding-top: 75px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    > h1 {
      -webkit-text-stroke: 1px #ffffff;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.25;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    > p {
      opacity: 0.95;
      font-size: 17px;
      line-height: 1.76;
      text-align: center;
      color: #ffffff;
      max-width: 350px;
      margin-bottom: 43px;
    }

    > a {
      border-radius: 29px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      background-color: #0bca95;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.3px;
      text-align: center;
      color: #ffffff;
      display: block;
      padding: 20px 43px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: -webkit-box-shadow 0.3s ease;
      transition: -webkit-box-shadow 0.3s ease;
      -o-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    }

    > a:hover {
      -webkit-box-shadow: 0 8px 20px 0  rgba(11, 202, 149, 1);
      box-shadow: 0 8px 20px 0  rgba(11, 202, 149, 1);
    }
  }
}