.services-content {

  > div {
    margin-bottom: 90px;

    > h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      color: #16192a;
      max-width: 800px;
      margin: 0 auto 20px auto;
    }

    > h1:after {
      content: url("../../img/waves.svg");
      margin-top: 10px;
      display: block;
    }

    > .image {
      width: 100%;
      height: 665px;
      position: relative;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      margin-bottom: 40px;

      > img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      > a {
        position: absolute;
        bottom: 20px;
        left: 20px;
        height: 95px;
        width: 128px;
      }
    }

    p {
      font-size: 17px;
      line-height: 1.76;
      color: #323656;
      margin-bottom: 30px;
    }

    b {
      font-weight: 500;
    }

    span {
      text-transform: uppercase;
      color: #0bca95;
      font-weight: 500;
    }

    ul {
      li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        font-size: 17px;
        line-height: 1.76;
        color: #323656;
        margin-bottom: 30px;
      }

      li:before {
        content: url("../../img/dot.svg");
        margin-right: 10px;
      }
    }

    a {
      font-size: 17px;
      line-height: 2.35;
      color: #0bca95;
      text-decoration: underline;
    }

    > h2 {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.41;
      color: #16192a;
      margin-bottom: 20px;
    }

    > h2:before {
      content: url("../../img/wave.svg");
      display: block;
    }

    .type-1, .type-2, .type-3, .type-4 {
      width: 100%;
      height: 665px;
      position: relative;

      > img {
        max-width: 1000px;
        height: 100%;
        position: absolute;
        -o-object-fit: cover;
        object-fit: cover;
      }

      > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 100%;

        > div {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
        }

        > a {
          z-index: 1;
          width: 128px;
          margin-right: 20px;
        }
      }
    }

    .type-1 {

      > img {
        right: 0;
      }

      > div {
        > a {
          margin-top: 20px;

        }
      }
    }

    .type-2 {

      > img {
        right: 0;
      }

      > div {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        > a {
          margin-bottom: 20px;
        }
      }
    }

    .type-3 {

      > img {
        left: 0;
      }

      > div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

        > a {
          margin: 20px 0 0 20px;
        }
      }
    }

    .type-4 {

      > img {
        left: 0;
        margin-bottom: 20px;
      }

      > div {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;

        > a {
          margin: 0 0 20px 20px;
        }
      }
    }
  }

  > div:last-of-type {
    margin-bottom: 0;
  }
}