#services-single-2 {
  > .wrapper {
    margin-top: 90px;
    margin-bottom: 70px;
    > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      > li {
        width: 48%;
        margin-bottom: 20px;

        > a {
          > div {
            -webkit-filter: drop-shadow(0 10px 10px rgba(39, 98, 181, 0.2));
            filter: drop-shadow(0 10px 10px rgba(39, 98, 181, 0.2));

            > span {
              background-color: #ffffff;
              padding: 25px 30px;
              display: block;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
              clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
              font-size: 21px;
              line-height: 1.52;
              color: #323656;
              -webkit-transition: color 0.3s ease;
              -o-transition: color 0.3s ease;
              transition: color 0.3s ease;
            }
          }
        }

        > a:hover {
          > div {
            -webkit-filter: drop-shadow(0 10px 10px rgba(8, 110, 82, 0.2));
            filter: drop-shadow(0 10px 10px rgba(8, 110, 82, 0.2));

            > span {
              color: #0bca95;
            }
          }
        }
      }
    }
  }
}