#benefits-2 {

  > .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;

    > ul:after {
      content: "";
      width: 360px;
      height: 1px;
    }

    > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      > li {
        -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.22));
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.22));
        width: 360px;
        margin-bottom: 100px;

        > .avatar-container {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-bottom: -68px;
          z-index: 1;

          > div {
            width: 121px;
            height: 121px;
            background-color: #6d6d6d;
            border: 5px solid #0bca95;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-shadow: inset 0 0 6px #000000;
            box-shadow: inset 0 0 6px #000000;

            > img {
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }

            > span {
              text-transform: uppercase;
              color: #ffffff;
              font-size: 60px;
            }
          }

          > img {
            position: absolute;
            bottom: 0;
            z-index: -1;
          }
        }

        > .benefit-container {
          width: 100%;
          padding: 96px 25px 60px 25px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #6d6d6d;
          -webkit-clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
          clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;

          > h1 {
            font-size: 21px;
            font-weight: 500;
            line-height: 1.19;
            text-align: center;
            color: #ffffff;
          }

          > .stars {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-top: 35px;
          }

          > p {
            margin-top: 28px;
            font-size: 17px;
            line-height: 1.53;
            text-align: center;
            color: #ffffff;
          }

          > .info {
            margin-top: 35px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;

            > span {
              font-size: 17px;
              font-weight: 500;
              line-height: 1.76;
              text-align: center;
              color: #ffffff;
              width: 33%;
              word-break: break-word;
            }

            > p {
              font-size: 17px;
              font-weight: 300;
              line-height: 1.76;
              text-align: center;
              color: #ffffff;
              width: 33%;
            }
          }
        }
      }
    }
  }
}