* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#admin-panel {
  background-color: grey;
  position: fixed;
  top: 0;
  z-index: 99999999;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0bca95;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#map-section {
  position: relative;
}
#map-section > .wrapper {
  max-width: 1200px;
  pointer-events: none;
  padding-top: 145px;
  padding-bottom: 145px;
  z-index: 1;
  position: relative;
}
#map-section > .wrapper > .shadow {
  -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
}
#map-section > .wrapper > .shadow > div {
  pointer-events: all;
  display: inline-block;
  padding: 45px 50px 50px 50px;
  background-color: #fff;
  max-width: 367px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
  clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
}
#map-section > .wrapper > .shadow > div > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#map-section > .wrapper > .shadow > div > ul {
  margin-top: 40px;
}
#map-section > .wrapper > .shadow > div > ul > li:last-child {
  margin-bottom: 0;
}
#map-section > .wrapper > .shadow > div > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}
#map-section > .wrapper > .shadow > div > ul > li > div {
  margin-left: 15px;
  margin-top: -7px;
}
#map-section > .wrapper > .shadow > div > ul > li > div > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.5px;
  color: #323656;
}
#map-section > .wrapper > .shadow > div > ul > li > div > p {
  font-size: 14px;
  line-height: 1.43;
  color: #323656;
}
#map-section > #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.shadow {
  -webkit-filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
}
.shadow > .form {
  width: 458px;
  min-height: 475px;
  background-color: #ffffff;
  padding: 51px 62px 43px 89px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  position: relative;
}
.shadow > .form > img {
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.shadow > .form > .form-default {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shadow > .form > .form-default > h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  margin-top: 35px;
}
.shadow > .form > .form-default > div {
  margin-top: 22px;
}
.shadow > .form > .form-default > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-default > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-default > .top-default {
  position: relative;
  display: inline-block;
  margin-top: 0;
}
.shadow > .form > .form-default > .top-default > .dot {
  z-index: 1;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -3px;
  left: -3px;
}
.shadow > .form > .form-default > .top-default > img {
  z-index: 2;
  position: relative;
}
.shadow > .form > .form-default > .default {
  font-size: 21px;
  line-height: 1.24;
  color: #323656;
  font-weight: 400;
  margin-top: 22px;
}
.shadow > .form > .form-default form > .error > input {
  color: #d90606;
}
.shadow > .form > .form-default form > .error > span {
  visibility: visible;
}
.shadow > .form > .form-default form > div {
  margin-top: 36px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shadow > .form > .form-default form > div > label {
  position: absolute;
  background-color: #ffffff;
  font-size: 12.2px;
  line-height: 1.31;
  letter-spacing: 0.4px;
  color: #212121;
  left: 11px;
  top: -13px;
  border: 5px solid #fff;
}
.shadow > .form > .form-default form > div > input {
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: 100px;
  border: solid 2px #dfdfdf;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:focus {
  border-color: #0bca95;
}
.shadow > .form > .form-default form > div > input::-webkit-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:-ms-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input::-ms-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input::placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > span {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #d90606;
  text-align: center;
  margin-top: 5px;
  visibility: hidden;
}
.shadow > .form > .form-default form > input {
  border: none;
  outline: none;
  margin-top: 19px;
  padding: 20px 75px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.shadow > .form > .form-default form > input:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
.shadow > .form > .form-error,
.shadow > .form > .form-success {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
}
.shadow > .form > .form-error > img,
.shadow > .form > .form-success > img {
  margin-top: 30px;
  height: 156px;
  width: 156px;
}
.shadow > .form > .form-error > h1,
.shadow > .form > .form-success > h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  text-align: center;
}
.shadow > .form > .form-error > div,
.shadow > .form > .form-success > div {
  margin-top: 22px;
}
.shadow > .form > .form-error > div > p,
.shadow > .form > .form-success > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-error > div > p > a,
.shadow > .form > .form-success > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-success > h1 {
  color: #0bca95;
}
.shadow > .form > .form-error > h1 {
  color: #d90606;
}
footer {
  background-color: #2f2f2f;
}
footer > .wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
footer > .wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}
footer > .wrapper > div > a {
  width: 128px;
}
footer > .wrapper > div > nav {
  width: 260px;
  margin-top: 30px;
}
footer > .wrapper > div > nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer > .wrapper > div > nav > ul > li {
  margin-bottom: 25px;
  width: 50%;
}
footer > .wrapper > div > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
}
footer > .wrapper > div > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
footer > .wrapper > div > #work {
  margin-top: 30px;
}
footer > .wrapper > div > #work > h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}
footer > .wrapper > div > #work > ul > li:last-child {
  margin-right: 0;
}
footer > .wrapper > div > #work > ul > li {
  margin-right: 50px;
}
footer > .wrapper > div > #work > ul > li > span {
  opacity: 0.3;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul > li > p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
}
footer > .wrapper > div > #address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer > .wrapper > div > #address > div {
  text-align: right;
}
footer > .wrapper > div > #address > div > span,
footer > .wrapper > div > #address > div > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
footer > .wrapper > div > #address > div > span {
  font-weight: 500;
}
footer > .wrapper > div > #address > a {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
footer > .wrapper > div > #address > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
footer > .wrapper > p {
  opacity: 0.3;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
@media (max-width: 1040px) {
  footer > .wrapper > div {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer > .wrapper > div > #address {
    margin-top: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer > .wrapper > div > #address > div {
    text-align: center;
  }
  footer > .wrapper > div > #address > div > p {
    text-align: center;
  }
}
header {
  background-color: #ffffff;
}
header > .wrapper {
  padding-top: 21px;
  padding-bottom: 21px;
}
header > .wrapper > .header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left > a {
  width: 128px;
}
header > .wrapper > .header-top > #ht-left > nav {
  margin-left: 70px;
}
header > .wrapper > .header-top > #ht-left > nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li {
  margin-right: 40px;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  padding-bottom: 1px;
  color: #323656;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
header > .wrapper > .header-top > #ht-right > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #323656;
}
header > .wrapper > .header-top > #ht-right > p > span {
  font-weight: 500;
}
@media (max-width: 990px) {
  header > .wrapper > .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav {
    margin-left: 0;
    margin-top: 20px;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li:last-child {
    margin-bottom: 20px;
  }
  header > .wrapper > .header-top > #ht-right > p {
    text-align: center;
  }
}
#benefits-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11, 202, 149, 0.83);
}
#benefits-1 {
  background-color: green;
  position: relative;
  background-image: url("../../img/benefits/benefits-fs-bg.jpg");
}
#benefits-1 > .wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
#benefits-1 > .wrapper > h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2.2px;
  color: #ffffff;
}
#benefits-1 > .wrapper > p {
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  max-width: 650px;
  margin-top: 30px;
}
#benefits-1 > .wrapper > a {
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #323656;
  padding: 20px 30px;
  margin-top: 50px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}
#benefits-1 > .wrapper > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #ffffff;
  box-shadow: 0px 8px 20px 0px #ffffff;
}
#benefits-2 > .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
#benefits-2 > .wrapper > ul:after {
  content: "";
  width: 360px;
  height: 1px;
}
#benefits-2 > .wrapper > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#benefits-2 > .wrapper > ul > li {
  -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.22));
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.22));
  width: 360px;
  margin-bottom: 100px;
}
#benefits-2 > .wrapper > ul > li > .avatar-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -68px;
  z-index: 1;
}
#benefits-2 > .wrapper > ul > li > .avatar-container > div {
  width: 121px;
  height: 121px;
  background-color: #6d6d6d;
  border: 5px solid #0bca95;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 6px #000000;
  box-shadow: inset 0 0 6px #000000;
}
#benefits-2 > .wrapper > ul > li > .avatar-container > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#benefits-2 > .wrapper > ul > li > .avatar-container > div > span {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
}
#benefits-2 > .wrapper > ul > li > .avatar-container > img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
#benefits-2 > .wrapper > ul > li > .benefit-container {
  width: 100%;
  padding: 96px 25px 60px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #6d6d6d;
  -webkit-clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
  clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#benefits-2 > .wrapper > ul > li > .benefit-container > h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: #ffffff;
}
#benefits-2 > .wrapper > ul > li > .benefit-container > .stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}
#benefits-2 > .wrapper > ul > li > .benefit-container > p {
  margin-top: 28px;
  font-size: 17px;
  line-height: 1.53;
  text-align: center;
  color: #ffffff;
}
#benefits-2 > .wrapper > ul > li > .benefit-container > .info {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
#benefits-2 > .wrapper > ul > li > .benefit-container > .info > span {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
  width: 33%;
  word-break: break-word;
}
#benefits-2 > .wrapper > ul > li > .benefit-container > .info > p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
  width: 33%;
}
#overlay {
  background-color: rgba(11, 202, 149, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  overflow: auto;
}
#overlay > div {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-height: 100%;
}
#overlay > div > div {
  margin-top: 0;
  position: relative;
}
#overlay > div > div > img {
  visibility: visible;
}
#benefit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 202, 149, 0.85);
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  overflow: auto;
}
#benefit-overlay > div {
  -webkit-filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-height: 100%;
}
#benefit-overlay > div > div {
  background-color: #fff;
  -webkit-clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
  clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
  width: 605px;
  padding: 60px 110px 45px 110px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
#benefit-overlay > div > div > img {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
#benefit-overlay > div > div > h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #16192a;
}
#benefit-overlay > div > div > form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#benefit-overlay > div > div > form > .input {
  margin-top: 45px;
  position: relative;
}
#benefit-overlay > div > div > form > .input > label {
  position: absolute;
  font-size: 12px;
  line-height: 2;
  color: #97a6c2;
  top: -14px;
  left: 10px;
}
#benefit-overlay > div > div > form > .input > input {
  border: none;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(151, 166, 194, 0.13);
  outline: none;
  width: 100%;
  -webkit-transition: border-bottom-color 0.2s ease;
  -o-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
  color: #16192a;
  font-size: 18px;
  line-height: 1.33;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#benefit-overlay > div > div > form > .input > input::-webkit-input-placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .input > input:-ms-input-placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .input > input::-ms-input-placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .input > input::placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .input > input:focus {
  border-color: #0bca95;
}
#benefit-overlay > div > div > form > .estimate {
  margin-top: 50px;
  margin-left: 10px;
}
#benefit-overlay > div > div > form > .estimate > input {
  display: none;
}
#benefit-overlay > div > div > form > .estimate > label {
  font-size: 12px;
  line-height: 2;
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .estimate > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#benefit-overlay > div > div > form > .estimate > div > img {
  cursor: pointer;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  opacity: 0.5;
}
#benefit-overlay > div > div > form > .estimate > div > .hovered {
  opacity: 1;
}
#benefit-overlay > div > div > form > .estimate > .selected > img {
  opacity: 1;
}
#benefit-overlay > div > div > form > .textarea {
  margin-top: 42px;
  position: relative;
}
#benefit-overlay > div > div > form > .textarea > label {
  position: absolute;
  font-size: 12px;
  line-height: 2;
  color: #97a6c2;
  top: -14px;
  left: 10px;
}
#benefit-overlay > div > div > form > .textarea > textarea {
  border: none;
  outline: none;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(151, 166, 194, 0.13);
  width: 100%;
  -webkit-transition: border-bottom-color 0.2s ease;
  -o-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
  color: #16192a;
  font-size: 18px;
  line-height: 1.33;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  height: auto;
}
#benefit-overlay > div > div > form > .textarea > textarea::-webkit-input-placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .textarea > textarea:-ms-input-placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .textarea > textarea::-ms-input-placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .textarea > textarea::placeholder {
  color: #97a6c2;
}
#benefit-overlay > div > div > form > .file {
  margin-top: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#benefit-overlay > div > div > form > .file > input {
  display: none;
}
#benefit-overlay > div > div > form > .file > div {
  font-size: 18px;
  line-height: 1.33;
  color: #0bca95;
  text-decoration: underline;
  margin-left: 12px;
}
#benefit-overlay > div > div > form > .submit {
  text-align: center;
}
#benefit-overlay > div > div > form > .submit > .disabled {
  opacity: 0.3;
}
#benefit-overlay > div > div > form > .submit > #submit.disabled:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
#benefit-overlay > div > div > form > .submit > #submit {
  margin-top: 40px;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: opacity 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease, opacity 0.3s ease;
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  transition: box-shadow 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.3s ease;
}
#benefit-overlay > div > div > form > .submit > #submit:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
#benefit-overlay > div > div > form > span {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #d90606;
  text-align: center;
  margin-top: 15px;
  visibility: hidden;
}
/*# sourceMappingURL=benefits.css.map */