#benefit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 202, 149, 0.85);
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  overflow: auto;

  > div {
    -webkit-filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
    filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    max-height: 100%;

    > div {
      background-color: #fff;
      -webkit-clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
      clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
      width: 605px;
      padding: 60px 110px 45px 110px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;

      > img {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
      }

      > h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.33;
        text-align: center;
        color: #16192a;
      }

      > form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > .input {
          margin-top: 45px;
          position: relative;

          > label {
            position: absolute;
            font-size: 12px;
            line-height: 2;
            color: #97a6c2;
            top: -14px;
            left: 10px;
          }

          > input {
            border: none;
            padding: 12px 10px;
            border-bottom: 1px solid rgba(151, 166, 194, 0.13);
            outline: none;
            width: 100%;
            -webkit-transition: border-bottom-color 0.2s ease;
            -o-transition: border-bottom-color 0.2s ease;
            transition: border-bottom-color 0.2s ease;
            color: #16192a;
            font-size: 18px;
            line-height: 1.33;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }

          > input::-webkit-input-placeholder {
            color: #97a6c2;
          }

          > input:-ms-input-placeholder {
            color: #97a6c2;
          }

          > input::-ms-input-placeholder {
            color: #97a6c2;
          }

          > input::placeholder {
            color: #97a6c2;
          }

          > input:focus {
            border-color: #0bca95;
          }
        }

        > .estimate {
          margin-top: 50px;
          margin-left: 10px;

          > input {
            display: none;
          }

          > label {
            font-size: 12px;
            line-height: 2;
            color: #97a6c2;
          }

          > div {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            > img {
              cursor: pointer;
              -webkit-transition: opacity 0.15s ease;
              -o-transition: opacity 0.15s ease;
              transition: opacity 0.15s ease;
              opacity: 0.5;
            }

            > .hovered {
              opacity: 1;
            }
          }

          > .selected {
            > img {
              opacity: 1;
            }
          }
        }

        > .textarea {
          margin-top: 42px;
          position: relative;

          > label {
            position: absolute;
            font-size: 12px;
            line-height: 2;
            color: #97a6c2;
            top: -14px;
            left: 10px;
          }

          > textarea {
            border: none;
            outline: none;
            padding: 12px 10px;
            border-bottom: 1px solid rgba(151, 166, 194, 0.13);
            width: 100%;
            -webkit-transition: border-bottom-color 0.2s ease;
            -o-transition: border-bottom-color 0.2s ease;
            transition: border-bottom-color 0.2s ease;
            color: #16192a;
            font-size: 18px;
            line-height: 1.33;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            resize: none;
            height: auto;
          }

          > textarea::-webkit-input-placeholder {
            color: #97a6c2;
          }

          > textarea:-ms-input-placeholder {
            color: #97a6c2;
          }

          > textarea::-ms-input-placeholder {
            color: #97a6c2;
          }

          > textarea::placeholder {
            color: #97a6c2;
          }
        }

        > .file {
          margin-top: 20px;
          cursor: pointer;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;

          > input {
            display: none;
          }

          > div {
            font-size: 18px;
            line-height: 1.33;
            color: #0bca95;
            text-decoration: underline;
            margin-left: 12px;
          }
        }

        > .submit {
          text-align: center;
          > .disabled {
            opacity: 0.3;
          }

          > #submit.disabled:hover {
            -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          }

          > #submit {
            margin-top: 40px;
            border-radius: 29px;
            -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
            background-color: #0bca95;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1.3px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            padding: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            -webkit-transition: opacity 0.3s ease, -webkit-box-shadow 0.3s ease;
            transition: opacity 0.3s ease, -webkit-box-shadow 0.3s ease;
            -o-transition: box-shadow 0.3s ease, opacity 0.3s ease;
            transition: box-shadow 0.3s ease, opacity 0.3s ease;
            transition: box-shadow 0.3s ease, opacity 0.3s ease, -webkit-box-shadow 0.3s ease;
          }

          > #submit:hover {
            -webkit-box-shadow: 0px 8px 20px 0px rgba(11, 202, 149, 1);
            box-shadow: 0px 8px 20px 0px rgba(11, 202, 149, 1);
          }
        }

        > span {
          font-size: 12px;
          line-height: 1.33;
          letter-spacing: 0.4px;
          color: #d90606;
          text-align: center;
          margin-top: 15px;
          visibility: hidden;
        }
      }
    }
  }
}