#benefits-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11,202,149, 0.83);
}

#benefits-1 {
  background-color: green;
  position: relative;
  background-image: url("../../img/benefits/benefits-fs-bg.jpg");
  > .wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
    > h1 {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 2.2px;
      color: #ffffff;
    }

    > p {
      font-size: 17px;
      text-align: center;
      color: #ffffff;
      max-width: 650px;
      margin-top: 30px;
    }

    > a {
      border-radius: 29px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.3px;
      text-align: center;
      color: #323656;
      padding: 20px 30px;
      margin-top: 50px;
      -webkit-transition: -webkit-box-shadow 0.3s ease;
      transition: -webkit-box-shadow 0.3s ease;
      -o-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
      cursor: pointer;
      text-transform: uppercase;
    }

    > a:hover {
      -webkit-box-shadow: 0px 8px 20px 0px rgba(255,255,255,1);
      box-shadow: 0px 8px 20px 0px rgba(255,255,255,1);
    }
  }
}