* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}
body {
  overflow-y: hidden;
}
article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#aside-left {
  min-width: 250px;
  height: 100vh;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
  box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.06);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  position: relative;
  z-index: 1;
}
#aside-left > ul.notifications {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 10px;
  list-style: none;
  min-height: 25px;
}
#aside-left > ul.notifications > li:hover > i {
  color: #0bca95;
}
#aside-left > ul.notifications > li {
  cursor: pointer;
  position: relative;
}
#aside-left > ul.notifications > li > div.counter {
  width: 20px;
  height: 20px;
  background-color: #0bca95;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -7px;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
}
#aside-left > ul.notifications > li > i {
  font-size: 26px;
  color: #575962;
}
#aside-left > #return-to-home {
  margin: 10px 0 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px;
  color: #777;
  text-decoration: none;
  text-align: left;
}
#aside-left > #return-to-home > i {
  font-size: 22px;
}
#aside-left i {
  transition: color 0.2s ease;
}
#aside-left > a:hover > i {
  color: #0bca95;
}
#aside-left > h1 {
  margin-left: 15px;
  color: #727275;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  margin-top: 20px;
}
#aside-left > ul.menu {
  list-style: none;
}
#aside-left > ul.menu > li.default.selected {
  background-color: #f1f1f1;
}
#aside-left > ul.menu > li.focused {
  background-color: rgba(0, 0, 0, 0.03);
}
#aside-left > ul.menu > li.focused > a > div > span {
  color: #575962;
}
#aside-left > ul.menu > li.focused:before {
  visibility: visible;
}
#aside-left > ul.menu > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
#aside-left > ul.menu > li > a > div:hover > .left {
  color: #0bca95;
}
#aside-left > ul.menu > li > a > div {
  cursor: pointer;
  padding: 10px;
}
#aside-left > ul.menu > li > a > div > i.left {
  color: #575962;
  margin-right: 10px;
  font-size: 20px;
}
#aside-left > ul.menu > li > a > div > span {
  font-size: 15px;
  margin-bottom: 0;
  margin-right: 5px;
  white-space: nowrap;
  color: #8d9498;
}
#aside-left > ul.menu > li > a > div > i.right {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #8d9498;
  font-size: 14px;
}
#aside-left > ul.menu > li > ul {
  display: none;
  list-style: circle;
}
#aside-left > ul.menu > li > ul > li {
  cursor: pointer;
  color: #8d9498;
}
#aside-left > ul.menu > li > ul > li > a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 10px 10px 10px 20px;
}
#aside-left > ul.menu > li > ul > li:hover {
  color: #575962;
}
#aside-left > ul.menu > li > ul > li.nested-selected {
  color: #575962;
  background-color: #f1f1f1;
}
#aside-left > ul.menu > li:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0bca95;
  visibility: hidden;
}
@media (max-width: 1024px) {
  article > #menu {
    display: block;
  }
  #aside-left {
    position: absolute;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    left: -250px;
    overflow-y: overlay;
  }
}
#aside-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  height: 100vh;
  background-color: #f8f9fa;
  position: relative;
}
#aside-right > .top {
  background: -webkit-linear-gradient(135deg, #0ba069, #0bca95);
  background: -o-linear-gradient(135deg, #0ba069, #0bca95);
  background: linear-gradient(-45deg, #0ba069, #0bca95);
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#aside-right > .top > h1 {
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}
#aside-right > .top > h2 {
  opacity: 0.7;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
#aside-right > .bottom {
  padding: 0 20px 20px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -20px;
}
#aside-right > .bottom > div {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  margin-bottom: 20px;
}
#aside-right > .bottom > div h1 {
  margin-bottom: 20px;
}
#aside-right > .bottom > div > #services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#aside-right > .bottom > div > #services > .left {
  width: 69%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  margin-bottom: 20px;
  word-break: break-word;
}
#aside-right > .bottom > div > #services > .left .options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#aside-right > .bottom > div > #services > .left > .text-editor {
  display: flex;
  flex-direction: column;
}
#aside-right > .bottom > div > #services > .left > .text-editor h1 {
  font-size: 30px;
  margin-bottom: 20px;
  display: inline-grid;
}
#aside-right > .bottom > div > #services > .left > .text-editor h2 {
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-grid;
}
#aside-right > .bottom > div > #services > .left > .text-editor .fa-bars {
  cursor: all-scroll;
}
#aside-right > .bottom > div > #services > .left > .text-editor .fa-times {
  cursor: pointer;
  color: #d90606;
  margin-left: 10px;
}
#aside-right > .bottom > div > #services > .left > .text-editor .handle,
#aside-right > .bottom > div > #services > .left > .text-editor .nested-handle,
#aside-right > .bottom > div > #services > .left > .text-editor .nested-handle-list,
#aside-right > .bottom > div > #services > .left > .text-editor .nested-handle-subtitle {
  margin-right: 10px;
}
#aside-right > .bottom > div > #services > .left > .text-editor div > .drag,
#aside-right > .bottom > div > #services > .left > .text-editor div .nested-drag {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#aside-right > .bottom > div > #services > .left > .text-editor div > .drag > div,
#aside-right > .bottom > div > #services > .left > .text-editor div .nested-drag ul,
#aside-right > .bottom > div > #services > .left > .text-editor div .nested-drag p {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: inline-grid;
}
#aside-right > .bottom > div > #services > .left > .text-editor .nested-drag ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#aside-right > .bottom > div > #services > .left > .text-editor .nested-drag ul li span[contenteditable="true"] {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
#aside-right > .bottom > div > #services > .left > .text-editor .nested-drag ul li:last-child {
  margin-bottom: 0;
}
#aside-right > .bottom > div > #services > .left > .text-editor > div:last-child {
  margin-bottom: 0;
}
#aside-right > .bottom > div > #services > .left > .options {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: none;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: max-content;
  margin-left: 25px;
}
#aside-right > .bottom > div > #services > .left > .options > select {
  width: 100px;
  height: 25px;
  margin: 5px;
  box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.2);
  outline: none;
}
#aside-right > .bottom > div > #services > .left > .options > a {
  width: 25px;
  height: 25px;
  padding: 2px;
  margin: 5px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}
#aside-right > .bottom > div > #services > .left > .options > a:hover {
  border: 1px solid #555d66;
  background-color: #fafafa;
}
#aside-right > .bottom > div > #services > .left > .options > a.selected {
  border: 1px solid #555d66;
  background-color: #ebebeb;
}
#aside-right > .bottom > div > #services > .right {
  width: 29%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  margin-bottom: 20px;
}
#aside-right > .bottom > div > #services > .right > h1 {
  margin: 0;
  text-align: center;
}
#aside-right > .bottom > div > #services > .right > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#aside-right > .bottom > div > #services > .right > ul > li {
  width: 100%;
  border-bottom: 1px solid grey;
}
#aside-right > .bottom > div > #services > .right > ul > li > a {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  transition: color 0.2s ease;
  word-break: break-word;
}
#aside-right > .bottom > div > #services > .right > ul > li > a:hover {
  color: #0bca95;
}
#aside-right > .bottom > div > #services > .right > ul > li:last-child {
  border-bottom: none;
}
@media (max-width: 740px) {
  #aside-right > .bottom > div > #services .left {
    width: 100%;
  }
  #aside-right > .bottom > div > #services .right {
    width: 100%;
  }
}
#aside-right > .bottom > div > .images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#aside-right > .bottom > div > .images > .wrap {
  visibility: hidden;
  height: 1px;
  padding: 0;
  margin: 0;
}
#aside-right > .bottom > div > .images > div {
  width: 24%;
  min-width: 200px;
  padding: 25px 20px 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
  margin-bottom: 20px;
  position: relative;
}
#aside-right > .bottom > div > .images > div > i {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  color: #d90606;
}
#aside-right > .bottom > div > .images > div > img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}
#aside-right > .bottom > div > .images > div > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}
#aside-right > .bottom > div > .images > div > div > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#aside-right > .bottom > div > .images > div > div > div > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
#aside-right > .bottom > div > .images > div > div > input {
  width: 18%;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 3px;
  outline: none;
}
#aside-right > .bottom > div > .images > div > div > .left-icons > a {
  margin-right: 5px;
}
#aside-right > .bottom > div > .images > div > div > .right-icons > a {
  margin-left: 5px;
}
#aside-right > .bottom > div > .questions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#aside-right > .bottom > div > .questions > hr {
  margin-bottom: 20px;
  background-color: #ecedef;
  border: 1px solid transparent;
}
#aside-right > .bottom > div > .questions > #add-new {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
#aside-right > .bottom > div > .questions > #add-new > input {
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 3px;
  outline: none;
}
#aside-right > .bottom > div > .questions > #add-new > .center {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  padding: 20px;
}
#aside-right > .bottom > div > .questions > #add-new > .center > .left,
#aside-right > .bottom > div > .questions > #add-new > .center > .right {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  word-break: break-word;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
#aside-right > .bottom > div > .questions > #add-new > .center > .left:focus,
#aside-right > .bottom > div > .questions > #add-new > .center > .right:focus {
  border-color: #0bca95;
}
#aside-right > .bottom > div > .questions > #add-new > .center > .left {
  width: 30%;
}
#aside-right > .bottom > div > .questions > #add-new > .center > .vr {
  border-left: 1px solid #808080;
  margin: 20px;
}
#aside-right > .bottom > div > .questions > #add-new > .center > .right {
  width: 70%;
}
#aside-right > .bottom > div > .questions > #add-new > .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#aside-right > .bottom > div > .questions > #add-new > .right > a {
  cursor: pointer;
  font-size: 20px;
  color: #0bca95;
  display: none;
}
#aside-right > .bottom > div > .questions > #add-new > .right.add > #add {
  display: block;
}
#aside-right > .bottom > div > .questions > #add-new > .right.edit > #ready {
  display: block;
}
#aside-right > .bottom > div > .questions > #add-new > .right.edit > #ready > input {
  display: none;
}
#aside-right > .bottom > div > .questions > div:last-child {
  margin-bottom: 0;
}
#aside-right > .bottom > div > .questions > .question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
#aside-right > .bottom > div > .questions > .question > input {
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 3px;
  outline: none;
}
#aside-right > .bottom > div > .questions > .question > input:disabled {
  background-color: #ffffff;
}
#aside-right > .bottom > div > .questions > .question > .center {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  padding: 20px;
}
#aside-right > .bottom > div > .questions > .question > .center > .left,
#aside-right > .bottom > div > .questions > .question > .center > .right {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  word-break: break-word;
}
#aside-right > .bottom > div > .questions > .question > .center > .left {
  width: 30%;
}
#aside-right > .bottom > div > .questions > .question > .center > .vr {
  border-left: 1px solid #808080;
  margin: 20px;
}
#aside-right > .bottom > div > .questions > .question > .center > .right {
  width: 70%;
}
#aside-right > .bottom > div > .questions > .question > .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#aside-right > .bottom > div > .questions > .question > .right > a {
  cursor: pointer;
  font-size: 20px;
}
#aside-right > .bottom > div > .questions > .question > .right > .remove {
  color: #d90606;
}
#aside-right > .bottom > div > .questions > .question > .right > .edit {
  color: #daa520;
}
#aside-right > .bottom > div > form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#aside-right > .bottom > div > form > label {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  background: #0bca95;
  color: #fff;
  border: none;
  font-size: 15px;
  -webkit-box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
  box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
}
#aside-right > .bottom > div > form > label > input {
  display: none;
}
#aside-right > .bottom > div > .applications {
  border-radius: 5px;
  list-style: none;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  overflow: hidden;
  overflow-x: auto;
}
#aside-right > .bottom > div > .applications > li {
  width: 100%;
  min-width: 800px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}
#aside-right > .bottom > div > .applications > li > div {
  width: 100%;
  border-right: 1px solid black;
  margin-right: 20px;
  word-break: break-word;
  padding-right: 5px;
}
#aside-right > .bottom > div > .applications > li > div:last-of-type {
  border-right: none;
  margin-right: 0;
}
#aside-right > .bottom > div > .applications > #header {
  border-bottom: 1px solid black;
}
#aside-right > .bottom > div > .benefits {
  border-radius: 5px;
  list-style: none;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  overflow-x: auto;
}
#aside-right > .bottom > div > .benefits > li {
  width: 100%;
  min-width: 1000px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}
#aside-right > .bottom > div > .benefits > li > div {
  width: 100%;
  border-right: 1px solid black;
  margin-right: 20px;
  word-break: break-word;
  padding-right: 5px;
}
#aside-right > .bottom > div > .benefits > li > div > img {
  width: 75%;
}
#aside-right > .bottom > div > .benefits > li > div:last-of-type {
  border-right: none;
  margin-right: 0;
}
#aside-right > .bottom > div > .benefits > li.new {
  -webkit-animation: new 2s linear infinite;
  animation: new 2s linear infinite;
}
#aside-right > .bottom > div > .benefits > #header {
  border-bottom: 1px solid black;
}
#aside-right > .bottom > div > #read-all {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  background: #0bca95;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  -webkit-box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
  box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
  margin-bottom: 20px;
}
#aside-right > .bottom > div > .marks {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#aside-right > .bottom > div > .marks > li {
  width: 15%;
  min-width: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 20px 20px 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
  margin-bottom: 20px;
  position: relative;
}
#aside-right > .bottom > div > .marks > li > i {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #d90606;
}
#aside-right > .bottom > div > .marks > li > input {
  display: none;
}
#aside-right > .bottom > div > .marks > li > img {
  margin-bottom: 10px;
  height: 50px;
}
#aside-right > .bottom > div > .marks > li > span {
  margin-bottom: 10px;
}
#aside-right > .bottom > div > .marks > .wrap {
  visibility: hidden;
  height: 1px;
  width: 15%;
  margin: 0;
  padding: 0 20px;
}
#aside-right > .bottom > div > .marks > #add-new-mark > form {
  width: 100%;
}
#aside-right > .bottom > div > .marks > #add-new-mark > form > select {
  width: 100%;
  padding: 5px;
}
#aside-right > .bottom > div > .marks > #add-new-mark > form > select > option:disabled {
  background: #0bca95;
  color: #ffffff;
}
#aside-right > .bottom > div > .marks > #add-new-mark > form > input {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #0bca95;
  color: #fff;
  border: none;
  font-size: 15px;
  width: 100%;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
  box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
}
#aside-right > .bottom > .normal {
  width: 49%;
}
#aside-right > .bottom > .long {
  width: 100%;
}
#aside-right .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 202, 149, 0.5);
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#aside-right > .overlay.visible {
  visibility: visible;
  opacity: 1;
}
.content[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  cursor: text;
  color: #8d9498;
}
@-webkit-keyframes new {
  50% {
    background-color: gold;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes new {
  50% {
    background-color: gold;
  }
  100% {
    background-color: #ffffff;
  }
}
article {
  height: 100vh;
  background-color: #e0e0e0;
}
#login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#login > div {
  max-width: 320px;
  width: 100%;
  border-top: 3px solid #0bca95;
  background-color: #ffffff;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#login > div > .top {
  padding: 0 20px;
}
#login > div > .top > h1 {
  margin: 0 0 20px;
  color: #0bca95;
  font-size: 18px;
  font-weight: 400;
}
#login > div > .top > form > input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
#login > div > .top > form > input:focus {
  border-color: #0bca95;
}
#login > div > .top > form > button {
  cursor: pointer;
  background-color: #0bca95;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#login > div > .top > form > button:hover {
  background-color: #0ba069;
}
#login > div > .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  background: #f2f2f2;
}
#login > div > .bottom > a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
}
#login > a {
  margin-top: 20px;
  font-size: 13px;
  color: green;
  text-decoration: none;
}
#menu {
  display: none;
  position: absolute;
  left: 15px;
  top: 20px;
  z-index: 2;
  font-size: 30px;
  cursor: pointer;
  color: #575962;
  -webkit-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
/*# sourceMappingURL=admin.css.map */