#aside-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  height: 100vh;
  background-color: #f8f9fa;
  position: relative;

  > .top {
    background: -webkit-linear-gradient(135deg, #0ba069,#0bca95);
    background: -o-linear-gradient(135deg, #0ba069,#0bca95);
    background: linear-gradient(-45deg, #0ba069,#0bca95);
    padding: 50px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    > h1 {
      font-weight: 600;
      color: #ffffff;
      font-size: 20px;
      margin-bottom: 20px;
    }

    > h2 {
      opacity: .7;
      color: #ffffff;
      font-size: 15px;
      font-weight: 300;
    }
  }

  > .bottom {
    padding: 0 20px 20px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -20px;

    > div {
      padding: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: #fff;
      -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, .1);
      box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, .1);
      margin-bottom: 20px;

      h1 {
        margin-bottom: 20px;
      }

      > #services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        > .left {
          width: 69%;
          padding: 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #fff;
          -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
          box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
          margin-bottom: 20px;
          word-break: break-word;

          .options {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
          }

          > .text-editor {
            display: flex;
            flex-direction: column;

            h1 {
              font-size: 30px;
              margin-bottom: 20px;
              display: inline-grid;
            }

            h2 {
              font-size: 20px;
              margin-bottom: 20px;
              display: inline-grid;
            }

            .fa-bars {
              cursor: all-scroll;
            }

            .fa-times {
              cursor: pointer;
              color: #d90606;
              margin-left: 10px;
            }

            .handle, .nested-handle, .nested-handle-list, .nested-handle-subtitle {
              margin-right: 10px;
            }

            div {

              > .drag, .nested-drag {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
              }

              > .drag > div, .nested-drag ul, .nested-drag p {
                width: 100%;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 10px;
                box-sizing: border-box;
                display: inline-grid;
              }
            }

            .nested-drag ul li {
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              span[contenteditable="true"] {
                width: 100%;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 5px;
              }
            }

            .nested-drag ul li:last-child {
              margin-bottom: 0;
            }

            > div:last-child {
              margin-bottom: 0;
            }
          }

          > .options {
            display: flex;
            background-color: #f5f5f5;
            border: 1px solid #dddddd;
            flex-wrap: wrap;
            width: 100%;
            border-bottom: none;
            box-sizing: border-box;
            position: sticky;
            top: 0;
            width: max-content;
            margin-left: 25px;

            > select {
              width: 100px;
              height: 25px;
              margin: 5px;
              box-shadow: inset 0 1px 1px -1px rgba(0,0,0,.2);
              outline: none;
            }

            > a {
              width: 25px;
              height: 25px;
              padding: 2px;
              margin: 5px;
              display: block;
              box-sizing: border-box;
              text-align: center;
              cursor: pointer;
              border-radius: 3px;
            }

            > a:hover {
              border: 1px solid #555d66;
              background-color: #fafafa;
            }

            > a.selected {
              border: 1px solid #555d66;
              background-color: #ebebeb;
            }
          }
            //
            //> .content {
            //  width: 100%;
            //  background-color: #ffffff;
            //  box-sizing: border-box;
            //  min-height: 300px;
            //  outline: none;
            //  border: 1px solid #e5e5e5;
            //  padding: 10px;
            //  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.2);
            //  overflow: auto;
            //
            //  br {
            //    display: inline;
            //  }
            //
            //  > h1 {
            //    font-size: 25px;
            //    margin: 10px 0;
            //    display: block;
            //  }
            //
            //  > h2 {
            //    font-size: 20px;
            //    margin: 10px 0;
            //    display: block;
            //  }
            //
            //  > p {
            //    margin: 10px 0;
            //    display: block;
            //  }
            //
            //  > ul {
            //    margin: 10px 0 10px 20px;
            //    display: block;
            //  }
            //}
        }

        > .right {
          width: 29%;
          padding: 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #fff;
          -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
          box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
          margin-bottom: 20px;

          > h1 {
            margin: 0;
            text-align: center;
          }

          > ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            > li {
              width: 100%;
              border-bottom: 1px solid grey;

              > a {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                cursor: pointer;
                display: block;
                transition: color 0.2s ease;
                word-break: break-word;
              }

              > a:hover {
                color: #0bca95;
              }
            }

            > li:last-child {
              border-bottom: none;
            }
          }
        }

        @media(max-width: 740px) {
          .left {
            width: 100%;
          }

          .right {
            width: 100%;
          }
        }
      }

      > .images {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        > .wrap {
          visibility: hidden;
          height: 1px;
          padding: 0;
          margin: 0;
        }

        > div {
          width: 24%;
          min-width: 200px;
          padding: 25px 20px 20px 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #fff;
          -webkit-box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
          box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
          margin-bottom: 20px;
          position: relative;

          > i {
            position: absolute;
            top: 6px;
            right: 6px;
            cursor: pointer;
            color: #d90606;
          }

          > img {
            width: 100%;
            height: 130px;
            -o-object-fit: cover;
            object-fit: cover;
          }

          > div {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-top: 10px;

            > div {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;

              > a {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                cursor: pointer;
              }
            }

            > input {
              width: 18%;
              border-radius: 5px;
              border: 1px solid gray;
              padding-left: 3px;
              outline: none;
            }

            > .left-icons {
              > a {
                margin-right: 5px;
              }
            }

            > .right-icons {
              > a {
                margin-left: 5px;
              }
            }
          }
        }
      }

      > .questions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > hr {
          margin-bottom: 20px;
          background-color: #ecedef;
          border: 1px solid transparent;
        }

        > #add-new {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 20px;

          > input {
            border-radius: 5px;
            border: 1px solid gray;
            padding-left: 3px;
            outline: none;
          }

          > .center {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin: 0 20px;
            border-radius: 5px;
            background-color: #fff;
            -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
            box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
            padding: 20px;

            > .left, > .right {
              border: 1px solid gray;
              border-radius: 3px;
              padding: 5px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              outline: none;
              word-break: break-word;
              -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.1);
              box-shadow: inset 0 0 5px rgba(0,0,0,.1);
              -webkit-transition: border-color 0.3s ease;
              -o-transition: border-color 0.3s ease;
              transition: border-color 0.3s ease;
            }

            > .left:focus, > .right:focus {
              border-color: #0bca95;
            }

            > .left {
              width: 30%;
            }

            > .vr {
              border-left: 1px solid #808080;
              margin: 20px;
            }

            > .right {
              width: 70%;
            }
          }

          > .right {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            > a {
              cursor: pointer;
              font-size: 20px;
              color: #0bca95;
              display: none;
            }
          }

          > .right.add {
            > #add {
              display: block;
            }
          }

          > .right.edit {
            > #ready {
              display: block;

              > input {
                display: none;
              }
            }
          }
        }

        > div:last-child {
          margin-bottom: 0;
        }

        > .question {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 20px;

          > input {
            border-radius: 5px;
            border: 1px solid gray;
            padding-left: 3px;
            outline: none;
          }

          > input:disabled {
            background-color: #ffffff;
          }

          > .center {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin: 0 20px;
            border-radius: 5px;
            background-color: #fff;
            -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
            box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
            padding: 20px;

            > .left, > .right {
              border: 1px solid gray;
              border-radius: 3px;
              padding: 5px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              outline: none;
              word-break: break-word;
            }

            > .left {
              width: 30%;
            }

            > .vr {
              border-left: 1px solid #808080;
              margin: 20px;
            }

            > .right {
              width: 70%;
            }
          }
          > .right {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            > a {
              cursor: pointer;
              font-size: 20px;
            }

            > .remove {
              color: #d90606;
            }

            > .edit {
              color: #daa520;
            }
          }
        }
      }

      > form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        > label {
          cursor: pointer;
          border-radius: 5px;
          padding: 5px;
          background: #0bca95;
          color: #fff;
          border: none;
          font-size: 15px;
          -webkit-box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
          box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);

          > input {
            display: none;
          }
        }
      }

      > .applications {
        border-radius: 5px;
        list-style: none;
        -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, .1);
        box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, .1);
        overflow: hidden;
        overflow-x: auto;

        > li {
          width: 100%;
          min-width: 800px;
          padding: 10px 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #ffffff;

          > div {
            width: 100%;
            border-right: 1px solid black;
            margin-right: 20px;
            word-break: break-word;
            padding-right: 5px;
          }

          > div:last-of-type {
            border-right: none;
            margin-right: 0;
          }
        }

        > #header {
          border-bottom: 1px solid black;
        }
      }

      > .benefits {
        border-radius: 5px;
        list-style: none;
        -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, .1);
        box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, .1);
        overflow-x: auto;

        > li {
          width: 100%;
          min-width: 1000px;
          padding: 10px 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #ffffff;

          > div {
            width: 100%;
            border-right: 1px solid black;
            margin-right: 20px;
            word-break: break-word;
            padding-right: 5px;

            > img {
              width: 75%;
            }
          }

          > div:last-of-type {
            border-right: none;
            margin-right: 0;
          }
        }

        > li.new {
          -webkit-animation: new 2s linear infinite;
          animation: new 2s linear infinite;
        }

        > #header {
          border-bottom: 1px solid black;
        }
      }

      > #read-all {
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        background: #0bca95;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        -webkit-box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
        box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
        margin-bottom: 20px;
      }

      > .marks {
        list-style: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

        > li {
          width: 15%;
          min-width: 130px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 25px 20px 20px 20px;
          border-radius: 5px;
          background-color: #fff;
          -webkit-box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
          box-shadow: 2px 0 20px 5px rgba(69, 65, 78, 0.1);
          margin-bottom: 20px;
          position: relative;

          > i {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            color: #d90606;
          }

          > input {
            display: none;
          }

          > img {
            margin-bottom: 10px;
            height: 50px;
          }

          > span {
            margin-bottom: 10px;
          }
        }

        > .wrap {
          visibility: hidden;
          height: 1px;
          width: 15%;
          margin: 0;
          padding: 0 20px;
        }

        > #add-new-mark {

          > form {
            width: 100%;

            > select {
              width: 100%;
              padding: 5px;

              > option:disabled {
                background: #0bca95;
                color: #ffffff;
              }
            }

            > input {
              cursor: pointer;
              border-radius: 5px;
              padding: 5px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              background: #0bca95;
              color: #fff;
              border: none;
              font-size: 15px;
              width: 100%;
              margin-top: 30px;
              -webkit-box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
              box-shadow: 0 0 15px 3px rgba(69, 65, 78, 0.1);
            }
          }
        }
      }
    }

    > .normal {
      width: 49%;
    }

    > .long {
      width: 100%;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 202, 149, 0.5);
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  > .overlay.visible {
    visibility: visible;
    opacity: 1;
  }
}

.content[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  cursor: text;
  color: #8d9498;
}

@-webkit-keyframes new {
  50% {
    background-color: gold;
  }

  100% {
    background-color: #ffffff;
  }
}

@keyframes new {
  50% {
    background-color: gold;
  }

  100% {
    background-color: #ffffff;
  }
}