#aside-left {
  min-width: 250px;
  height: 100vh;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
  box-shadow: 4px 4px 10px rgba(69, 65, 78, .06);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  position: relative;
  z-index: 1;

  > ul.notifications {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 10px;
    list-style: none;
    min-height: 25px;

    > li:hover {

      > i {
        color: #0bca95;
      }
    }

    > li {
      cursor: pointer;
      position: relative;

      > div.counter {
        width: 20px;
        height: 20px;
        background-color: #0bca95;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        right: -7px;;
        color: #ffffff;
        font-weight: 300;
        font-size: 13px;
      }

      > i {
        font-size: 26px;
        color: #575962;
      }
    }
  }

  > #return-to-home {
    margin: 10px 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 20px;
    color: #777;
    text-decoration: none;
    text-align: left;

    > i {
      font-size: 22px;
    }
  }

  i {
    transition: color 0.2s ease;
  }

  > a:hover {

    > i {
      color: #0bca95;
    }
  }

  > h1 {
    margin-left: 15px;
    color: #727275;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  > ul.menu {
    list-style: none;

    > li.default.selected {
      background-color: #f1f1f1;
    }

    > li.focused {
      background-color: rgba(0, 0, 0, .03);

      > a {
        > div {
          > span {
            color: #575962;
          }
        }
      }
    }

    > li.focused:before {
      visibility: visible;
    }

    > li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 10px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      > a {

        > div:hover {

          > .left {
            color: #0bca95;
          }
        }

        > div {
          cursor: pointer;
          padding: 10px;

          > i.left {
            color: #575962;
            margin-right: 10px;
            font-size: 20px;
          }

          > span {
            font-size: 15px;
            margin-bottom: 0;
            margin-right: 5px;
            white-space: nowrap;
            color: #8d9498;
          }

          > i.right {
            position: absolute;
            right: 10px;
            top: 15px;
            color: #8d9498;
            font-size: 14px;
          }
        }
      }

      > ul {
        display: none;
        list-style: circle;

        > li {
          cursor: pointer;
          color: #8d9498;

          > a {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            padding: 10px 10px 10px 20px;
          }
        }

        > li:hover {
          color: #575962;
        }

        > li.nested-selected {
          color: #575962;
          background-color: #f1f1f1;
        }
      }
    }

    > li:before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 3px;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #0bca95;
      visibility: hidden;
    }
  }
}

@media (max-width: 1024px) {
  article {
    > #menu {
      display: block;
    }
  }
  #aside-left {
    position: absolute;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    left: -250px;
    overflow-y: overlay;
  }
}