article {
  height: 100vh;
  background-color: #e0e0e0;
}

#login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 5px rgba(69, 65, 78, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  > div {
    max-width: 320px;
    width: 100%;
    border-top: 3px solid #0bca95;
    background-color: #ffffff;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    > .top {
      padding: 0 20px;
      > h1 {
        margin: 0 0 20px;
        color: #0bca95;
        font-size: 18px;
        font-weight: 400;
      }

      > form {
        > input {
          outline: none;
          display: block;
          width: 100%;
          border: 1px solid #d9d9d9;
          margin: 0 0 20px;
          padding: 10px 15px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: border-color 0.3s ease;
          -o-transition: border-color 0.3s ease;
          transition: border-color 0.3s ease;
        }

        > input:focus {
          border-color: #0bca95;
        }

        > button {
          cursor: pointer;
          background-color: #0bca95;
          width: 100%;
          border: 0;
          padding: 10px 15px;
          color: #ffffff;
          -webkit-transition: background-color 0.3s ease;
          -o-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
        }

        > button:hover {
          background-color: #0ba069;
        }
      }
    }

    > .bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px;
      padding: 20px 0;
      background: #f2f2f2;

      > a {
        color: #333333;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
      }
    }
  }

  > a {
    margin-top: 20px;
    font-size: 13px;
    color: green;
    text-decoration: none;
  }
}