#about-2 {
  > .wrapper {
    padding-top: 128px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    > h1 {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 1.1px;
      color: #323656;
      text-transform: uppercase;
      max-width: 320px;
      text-align: center;
      > span {
        color: #0bca95;
      }
    }

    > img {
      margin-top: 20px;

    }

    > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 85px;

      > li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 340px;
        text-align: center;

        > div {
          display: inline-block;
          position: relative;

          > .dot {
            position: absolute;
            z-index: -1;
          }
        }

        > h2 {
          font-size: 21px;
          font-weight: bold;
          line-height: 1.14;
          letter-spacing: 0.6px;
          text-align: center;
          color: #323656;
        }

        > p {
          font-size: 17px;
          line-height: 1.41;
          letter-spacing: 0.5px;
          text-align: center;
          color: #323656;
          margin-top: 24px;
        }
      }
    }

    > #slider {
      margin-top: 105px;

      > .main {
        position: relative;

        > #left-arrow {
          position: absolute;
          margin-left: -60px;
          top: 47%;
          cursor: pointer;
        }

        > div {
          width: 1100px;
          height: 620px;
          overflow: hidden;

          > div {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            max-height: 100%;
            -webkit-transition: margin-left 1s ease;
            -o-transition: margin-left 1s ease;
            transition: margin-left 1s ease;

            > img {
              min-width: 100%;
              min-height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
        }

        > #right-arrow {
          position: absolute;
          margin-right: -60px;
          top: 47%;
          right: 0;
          cursor: pointer;
        }
      }

      > .dots {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 70px;

        > div {
          width: 11px;
          height: 11px;
          border: solid 2px #323656;
          margin-right: 17px;
          border-radius: 50px;
          cursor: pointer;
        }

        > div:last-child {
          margin-right: 0;
        }

        > .active {
          background-color: #323656;
        }
      }
    }
  }
}