#about-1 {
  background-image: url("../../img/about/first-section-bg.jpg");
  position: relative;

  > .wrapper {
    padding-top: 155px;
    padding-bottom: 175px;
    position: relative;

    > h1 {
      font-size: 136px;
      font-weight: 500;
      line-height: 0.88;
      text-align: center;
      color: #3bd4aa;
    }
  }
}

#about-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11,202,149, 0.83);
}