header {
  background-color: #ffffff;
  >.wrapper {
    padding-top: 21px;
    padding-bottom: 21px;

    > .header-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > #ht-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        > a {
          width: 128px;
        }

        > nav {
          margin-left: 70px;

          > ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            > li {
              margin-right: 40px;

              > a {
                font-size: 14px;
                line-height: 2.14;
                letter-spacing: 0.4px;
                padding-bottom: 1px;
                color: #323656;
                text-transform: uppercase;
                -webkit-transition: border-bottom .1s ease;
                -o-transition: border-bottom .1s ease;
                transition: border-bottom .1s ease;
              }

              > a:hover {
                border-bottom: 2px solid #0bca95;
              }
            }
          }
        }
      }

      > #ht-right {

        > p {
          font-size: 17px;
          line-height: 1.18;
          letter-spacing: 0.5px;
          text-align: right;
          color: #323656;

          > span {
            font-weight: 500;
          }
        }
      }
    }

    > #header-3-bottom {
      margin-top: 110px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;

      > div {

        > div {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;

          > h1 {
            font-size: 66px;
            font-weight: bold;
            letter-spacing: 1.9px;
            color: #0bca95;
            text-transform: uppercase;
            margin-right: 30px;
            > span {
              color: #323656;
            }
          }
        }

        > h2 {
          margin-top: 20px;
          font-size: 25px;
          font-weight: 500;
          line-height: 1.16;
          color: #323656;
          margin-bottom: 50px;
        }

        > p {
          font-size: 19px;
          line-height: 1.53;
          color: #323656;
          margin-bottom: 30px;
        }

        > p:last-child {
          margin-bottom: 0;
        }
      }

      > img {
        margin-top: -90px;
        margin-bottom: -240px;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 990px) {
  header {
    > .wrapper {

      > .header-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > #ht-left {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;

          > nav {
            margin-left: 0;
            margin-top: 20px;

            > ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              > li {
                margin-bottom: 10px;
                text-align: center;
                margin-right: 0;
              }
              > li:last-child {
                margin-bottom: 20px;
              }
            }
          }
        }

        > #ht-right {
          > p {
            text-align: center;
          }
        }
      }
    }
  }
}