header {
  background-color: rgba(0, 0, 0, 0.62);
  position: relative;
  > #main-slider {
    background-color: #000000;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      z-index: -2;
      opacity: 0;
      -webkit-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      transition: opacity 1s ease;
    }

    > .main-active {
      opacity: 1;
      visibility: visible;
    }
  }

  >.wrapper {
    padding-top: 21px;
    padding-bottom: 108px;

    > .header-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      > #ht-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        > a {
          width: 128px;
        }

        > nav {
          margin-left: 70px;

          > ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            > li {
              margin-right: 40px;

              > a {
                font-size: 14px;
                line-height: 2.14;
                letter-spacing: 0.4px;
                padding-bottom: 1px;
                color: #ffffff;
                text-transform: uppercase;
                -webkit-transition: border-bottom .1s ease;
                -o-transition: border-bottom .1s ease;
                transition: border-bottom .1s ease;
              }

              > a:hover {
                border-bottom: 2px solid #0bca95;
              }
            }
          }
        }
      }

      > #ht-right {

        > p {
          font-size: 17px;
          line-height: 1.18;
          letter-spacing: 0.5px;
          text-align: right;
          color: #ffffff;

          > span {
            font-weight: 500;
          }
        }
      }
    }

    > h1 {
      width: 680px;
      font-size: 49px;
      font-weight: 500;
      line-height: 0.98;
      text-align: center;
      color: #ffffff;
      margin: 138px auto 36px auto;
    }

    > p {
      font-size: 17px;
      line-height: 1.76;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
    }

    > .button {
      text-align: center;

      > a {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        background-color: #0bca95;
        border-radius: 29px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        padding: 20px 22px;
        display: inline-block;
        margin-top: 52px;
        -webkit-transition: -webkit-box-shadow 0.3s ease;
        transition: -webkit-box-shadow 0.3s ease;
        -o-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
      }

      > a:hover {
        -webkit-box-shadow: 0 8px 20px 0  rgba(11, 202, 149, 1);
        box-shadow: 0 8px 20px 0  rgba(11, 202, 149, 1);
      }
    }

    > .dots {
      margin-top: 95px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;

      > div {
        width: 11px;
        height: 11px;
        border: solid 2px #ffffff;
        border-radius: 50px;
        margin-right: 17px;
        cursor: pointer;
      }

      > div.dot-active {
        background-color: #ffffff;
      }

      > div:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 990px) {
  header {
    > .wrapper {

      > .header-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;

        > #ht-left {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          -webkit-flex-direction: column;
          flex-direction: column;

          > nav {
            margin-left: 0;
            margin-top: 20px;

            > ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              -webkit-flex-direction: column;
              flex-direction: column;
              > li {
                margin-bottom: 10px;
                text-align: center;
                margin-right: 0;
              }
              > li:last-child {
                margin-bottom: 20px;
              }
            }
          }
        }

        > #ht-right {
          > p {
            text-align: center;
          }
        }
      }

      > h1 {
        margin: 30px 0 30px 0;
        width: auto;
      }
    }
  }
}