#main-6 {
  background-image: url("../../img/main/benefits-background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  > .wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    > h1 {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.41;
      text-align: center;
      color: #ffffff;
    }

    > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 50px;
      width: 100%;
      word-break: break-word;

      > img {
        cursor: pointer;
        width: 68px;
        height: 68px;
      }

      > .active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }

      > div {
        max-width: 760px;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: -webkit-transform 0.6s ease;
        transition: -webkit-transform 0.6s ease;
        -o-transition: transform 0.6s ease;
        transition: transform 0.6s ease;
        transition: transform 0.6s ease, -webkit-transform 0.6s ease;
        > .stars {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 33px;
        }

        > h2 {
          font-size: 17px;
          font-weight: 500;
          line-height: 1.76;
          text-align: center;
          color: #ffffff;
          margin-bottom: 20px;
        }

        > p {
          font-size: 17px;
          line-height: 1.76;
          text-align: center;
          color: #ffffff;
          margin-bottom: 20px;
        }

        > .name-date {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;

          > span {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.76;
            text-align: center;
            color: #ffffff;
            margin-right: 25px;
          }

          > p {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.76;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }

    > a {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-align: center;
      color: #ffffff;
      border-radius: 29px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      background-color: #0bca95;
      padding: 20px 45px;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 50px;
      -webkit-transition: -webkit-box-shadow 0.3s ease;
      transition: -webkit-box-shadow 0.3s ease;
      -o-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    }

    > a:hover {
      -webkit-box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
      box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
    }
  }
}