#main-3 {
  > .wrapper {
    padding-top: 98px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


    > h1 {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.41;
      text-align: center;
      color: #16192a;
    }

    > img {
      margin: 30px 0;
    }

    > p {
      font-size: 17px;
      line-height: 1.76;
      text-align: center;
      color: #323656;
    }

    > ul {
      margin-top: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;

      > li {
        width: 335px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        > .shadow {
          -webkit-filter: drop-shadow(0 0 1px rgba(200, 200, 200, 1));
          filter: drop-shadow(0 0 1px rgba(200, 200, 200, 1));

          > div {
            width: 150px;
            height: 150px;
            -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
            clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #fff;
          }
        }

        > h1 {
          font-size: 21px;
          font-weight: 500;
          line-height: 1.24;
          text-align: center;
          color: #323656;
          margin-top: 35px;
        }

        > hr {
          width: 40px;
          height: 3px;
          border: none;
          background-color: #0bca95;
          margin-top: 25px;
        }

        > p {
          font-size: 14px;
          line-height: 1.43;
          text-align: center;
          color: #323656;
          margin-top: 28px;
        }
      }
    }

    > a {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-align: center;
      color: #ffffff;
      display: block;
      padding: 20px 30px;
      border-radius: 29px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      background-color: #0bca95;
      text-transform: uppercase;
      margin-top: 55px;
      -webkit-transition: -webkit-box-shadow 0.3s ease;
      transition: -webkit-box-shadow 0.3s ease;
      -o-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    }

    > a:hover {
      -webkit-box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
      box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
    }
  }
}

@media (max-width: 1040px) {
  #main-3 {
    > .wrapper {
      > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        > li {
          margin-top: 20px;
        }

        > li:first-child {
          margin-top: 0;
        }
      }
    }
  }
}