* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#admin-panel {
  background-color: grey;
  position: fixed;
  top: 0;
  z-index: 99999999;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0bca95;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.shadow {
  -webkit-filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
}
.shadow > .form {
  width: 458px;
  min-height: 475px;
  background-color: #ffffff;
  padding: 51px 62px 43px 89px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
  position: relative;
}
.shadow > .form > img {
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.shadow > .form > .form-default {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shadow > .form > .form-default > h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  margin-top: 35px;
}
.shadow > .form > .form-default > div {
  margin-top: 22px;
}
.shadow > .form > .form-default > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-default > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-default > .top-default {
  position: relative;
  display: inline-block;
  margin-top: 0;
}
.shadow > .form > .form-default > .top-default > .dot {
  z-index: 1;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -3px;
  left: -3px;
}
.shadow > .form > .form-default > .top-default > img {
  z-index: 2;
  position: relative;
}
.shadow > .form > .form-default > .default {
  font-size: 21px;
  line-height: 1.24;
  color: #323656;
  font-weight: 400;
  margin-top: 22px;
}
.shadow > .form > .form-default form > .error > input {
  color: #d90606;
}
.shadow > .form > .form-default form > .error > span {
  visibility: visible;
}
.shadow > .form > .form-default form > div {
  margin-top: 36px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.shadow > .form > .form-default form > div > label {
  position: absolute;
  background-color: #ffffff;
  font-size: 12.2px;
  line-height: 1.31;
  letter-spacing: 0.4px;
  color: #212121;
  left: 11px;
  top: -13px;
  border: 5px solid #fff;
}
.shadow > .form > .form-default form > div > input {
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: 100px;
  border: solid 2px #dfdfdf;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:focus {
  border-color: #0bca95;
}
.shadow > .form > .form-default form > div > input::-webkit-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:-ms-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input::-ms-input-placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input::placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > span {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #d90606;
  text-align: center;
  margin-top: 5px;
  visibility: hidden;
}
.shadow > .form > .form-default form > input {
  border: none;
  outline: none;
  margin-top: 19px;
  padding: 20px 75px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.shadow > .form > .form-default form > input:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
.shadow > .form > .form-error,
.shadow > .form > .form-success {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
}
.shadow > .form > .form-error > img,
.shadow > .form > .form-success > img {
  margin-top: 30px;
  height: 156px;
  width: 156px;
}
.shadow > .form > .form-error > h1,
.shadow > .form > .form-success > h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  text-align: center;
}
.shadow > .form > .form-error > div,
.shadow > .form > .form-success > div {
  margin-top: 22px;
}
.shadow > .form > .form-error > div > p,
.shadow > .form > .form-success > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-error > div > p > a,
.shadow > .form > .form-success > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-success > h1 {
  color: #0bca95;
}
.shadow > .form > .form-error > h1 {
  color: #d90606;
}
.dot-tl {
  top: -5px;
  left: -5px;
}
.dot-tr {
  top: -5px;
  right: -5px;
}
.dot-bl {
  bottom: 5px;
  left: -5px;
}
.dot-br {
  bottom: 5px;
  right: -5px;
}
.dot-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dot-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dot-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dot-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
header {
  background-color: rgba(0, 0, 0, 0.62);
  position: relative;
}
header > #main-slider {
  background-color: #000000;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
header > #main-slider > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
header > #main-slider > .main-active {
  opacity: 1;
  visibility: visible;
}
header > .wrapper {
  padding-top: 21px;
  padding-bottom: 108px;
}
header > .wrapper > .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left > a {
  width: 128px;
}
header > .wrapper > .header-top > #ht-left > nav {
  margin-left: 70px;
}
header > .wrapper > .header-top > #ht-left > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li {
  margin-right: 40px;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  padding-bottom: 1px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
header > .wrapper > .header-top > #ht-right > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
header > .wrapper > .header-top > #ht-right > p > span {
  font-weight: 500;
}
header > .wrapper > h1 {
  width: 680px;
  font-size: 49px;
  font-weight: 500;
  line-height: 0.98;
  text-align: center;
  color: #ffffff;
  margin: 138px auto 36px auto;
}
header > .wrapper > p {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
header > .wrapper > .button {
  text-align: center;
}
header > .wrapper > .button > a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #0bca95;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 22px;
  display: inline-block;
  margin-top: 52px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
header > .wrapper > .button > a:hover {
  -webkit-box-shadow: 0 8px 20px 0 #0bca95;
  box-shadow: 0 8px 20px 0 #0bca95;
}
header > .wrapper > .dots {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header > .wrapper > .dots > div {
  width: 11px;
  height: 11px;
  border: solid 2px #ffffff;
  border-radius: 50px;
  margin-right: 17px;
  cursor: pointer;
}
header > .wrapper > .dots > div.dot-active {
  background-color: #ffffff;
}
header > .wrapper > .dots > div:last-child {
  margin-right: 0;
}
@media (max-width: 990px) {
  header > .wrapper > .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav {
    margin-left: 0;
    margin-top: 20px;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li:last-child {
    margin-bottom: 20px;
  }
  header > .wrapper > .header-top > #ht-right > p {
    text-align: center;
  }
  header > .wrapper > h1 {
    margin: 30px 0 30px 0;
    width: auto;
  }
}
#main-1 .wrapper {
  padding-top: 90px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#main-1 .wrapper > #m1-left > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#main-1 .wrapper > #m1-left > ul {
  margin-top: 50px;
}
#main-1 .wrapper > #m1-left > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}
#main-1 .wrapper > #m1-left > ul > li > div {
  position: relative;
  margin-right: 58px;
}
#main-1 .wrapper > #m1-left > ul > li > div > .dot {
  position: absolute;
  z-index: -1;
}
#main-1 .wrapper > #m1-left > ul > li > p {
  margin-top: -10px;
  width: 390px;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.5px;
  color: #323656;
}
#main-1 .wrapper > #m1-left > ul > li:last-child {
  margin-bottom: 0;
}
#main-1 .wrapper > img {
  margin-top: 15px;
}
#main-1 .wrapper > .form {
  margin-top: -198px;
}
@media (max-width: 1100px) {
  #main-1 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #main-1 .wrapper > img {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #main-1 .wrapper > .shadow > .form {
    margin-top: 0;
  }
}
#services-section {
  background-color: #2f2f2f;
}
#services-section > .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}
#services-section > .wrapper > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #ffffff;
}
#services-section > .wrapper > ul {
  margin-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#services-section > .wrapper > ul > li {
  width: 360px;
  height: 245px;
  -webkit-clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 25px);
  clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 25px);
  margin-top: 30px;
}
#services-section > .wrapper > ul > li > a {
  position: relative;
}
#services-section > .wrapper > ul > li > a > div {
  width: 360px;
  height: 245px;
}
#services-section > .wrapper > ul > li > a > .main {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0 35px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#services-section > .wrapper > ul > li > a > .main > svg path {
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
#services-section > .wrapper > ul > li > a > .main > h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#services-section > .wrapper > ul > li > a > .back {
  position: absolute;
  top: 0;
  z-index: 1;
}
#services-section > .wrapper > ul > li > a > .back > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(11, 202, 149, 0.8);
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
#services-section > .wrapper > ul > li > a > .back > img {
  width: 100%;
  height: 100%;
}
#services-section > .wrapper > ul > li:hover > a > .main > svg path {
  fill: #0bca95;
}
#services-section > .wrapper > ul > li:hover > a > .main > h1 {
  color: #0bca95;
}
#services-section > .wrapper > ul > li:hover > a .back > .overlay {
  background-color: rgba(255, 255, 255, 0.8);
}
#services-section > .wrapper > ul:after {
  content: "";
  width: 360px;
  height: 1px;
}
@media (max-width: 1100px) {
  #main-2 > .wrapper > ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (max-width: 770px) {
  #main-2 > .wrapper > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
#main-3 > .wrapper {
  padding-top: 98px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-3 > .wrapper > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #16192a;
}
#main-3 > .wrapper > img {
  margin: 30px 0;
}
#main-3 > .wrapper > p {
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  color: #323656;
}
#main-3 > .wrapper > ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
#main-3 > .wrapper > ul > li {
  width: 335px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#main-3 > .wrapper > ul > li > .shadow {
  -webkit-filter: drop-shadow(0 0 1px #c8c8c8);
  filter: drop-shadow(0 0 1px #c8c8c8);
}
#main-3 > .wrapper > ul > li > .shadow > div {
  width: 150px;
  height: 150px;
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}
#main-3 > .wrapper > ul > li > h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.24;
  text-align: center;
  color: #323656;
  margin-top: 35px;
}
#main-3 > .wrapper > ul > li > hr {
  width: 40px;
  height: 3px;
  border: none;
  background-color: #0bca95;
  margin-top: 25px;
}
#main-3 > .wrapper > ul > li > p {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #323656;
  margin-top: 28px;
}
#main-3 > .wrapper > a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 20px 30px;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  text-transform: uppercase;
  margin-top: 55px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
#main-3 > .wrapper > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
@media (max-width: 1040px) {
  #main-3 > .wrapper > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #main-3 > .wrapper > ul > li {
    margin-top: 20px;
  }
  #main-3 > .wrapper > ul > li:first-child {
    margin-top: 0;
  }
}
#three-services > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#three-services > div > img,
#three-services > div > div {
  width: 33.33333333%;
  height: 390px;
  -o-object-fit: cover;
  object-fit: cover;
}
#three-services > div > div {
  background-color: #0bca95;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
#three-services > div > div > a {
  border-radius: 32px;
  border: solid 1px #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  padding: 20px 40px;
  text-transform: uppercase;
  margin-top: -50px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, margin-top 0.5s ease;
  -o-transition: opacity 0.3s ease, margin-top 0.5s ease;
  transition: opacity 0.3s ease, margin-top 0.5s ease;
}
#three-services > div > div > h1 {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
#three-services > div > div > div {
  height: 60px;
  width: 60px;
  background-color: #0bca95;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#three-services > div > div > .l {
  left: -15px;
}
#three-services > div > div > .r {
  right: -15px;
}
#three-services > div > div > .t {
  top: -15px;
}
#main-5 > .wrapper {
  padding-top: 110px;
  padding-bottom: 145px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#main-5 > .wrapper > .left {
  max-width: 656px;
  margin-top: -16px;
}
#main-5 > .wrapper > .left > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
  margin-top: 35px;
}
#main-5 > .wrapper > .left > p {
  font-size: 17px;
  line-height: 1.76;
  color: #323656;
  margin-top: 25px;
}
#main-5 > .wrapper > .left > p > a {
  color: #0bca95;
  text-decoration: underline;
}
#main-5 > .wrapper > .right {
  -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
}
#main-5 > .wrapper > .right > div {
  padding: 40px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 458px;
  -webkit-clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
  clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
  background: #fff;
}
#main-5 > .wrapper > .right > div > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}
#main-5 > .wrapper > .right > div > div > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#main-5 > .wrapper > .right > div > p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#main-5 > .wrapper > .right > div > p > span {
  font-size: 17px;
  line-height: 2.94;
  color: #323656;
}
@media (max-width: 1100px) {
  #main-5 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #main-5 .wrapper > .left {
    margin-top: 0;
  }
  #main-5 .wrapper > .right {
    margin-top: 50px;
  }
}
#main-6 {
  background-image: url("../../img/main/benefits-background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}
#main-6 > .wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-6 > .wrapper > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #ffffff;
}
#main-6 > .wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  word-break: break-word;
}
#main-6 > .wrapper > div > img {
  cursor: pointer;
  width: 68px;
  height: 68px;
}
#main-6 > .wrapper > div > .active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#main-6 > .wrapper > div > div {
  max-width: 760px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
#main-6 > .wrapper > div > div > .stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}
#main-6 > .wrapper > div > div > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
#main-6 > .wrapper > div > div > p {
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
#main-6 > .wrapper > div > div > .name-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#main-6 > .wrapper > div > div > .name-date > span {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
  margin-right: 25px;
}
#main-6 > .wrapper > div > div > .name-date > p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  text-align: center;
  color: #ffffff;
}
#main-6 > .wrapper > a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  padding: 20px 45px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 50px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
#main-6 > .wrapper > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
#main-7 .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1010px;
}
#main-7 .wrapper > .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#main-7 .wrapper > .top > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #16192a;
  width: 500px;
}
#main-7 .wrapper > .top > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
}
#main-7 .wrapper > .top > ul > li {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#main-7 .wrapper > .top > ul > li > img {
  height: 45px;
}
#main-7 .wrapper > .top > ul > li > span {
  margin-left: 19px;
}
#main-7 .wrapper > .top > a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  padding: 21px 37px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 42px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
#main-7 .wrapper > .top > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
#main-7 .wrapper > .bottom {
  margin-top: 100px;
}
#main-7 .wrapper > .bottom > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #16192a;
}
#main-7 .wrapper > .bottom > ul {
  margin-top: 65px;
}
#main-7 .wrapper > .bottom > ul > li.active-tab > div > .tab-head:after {
  content: "-";
}
#main-7 .wrapper > .bottom > ul > li {
  -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
  margin-bottom: 5px;
}
#main-7 .wrapper > .bottom > ul > li > div {
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  padding: 20px 30px 20px 35px;
  background-color: #fff;
}
#main-7 .wrapper > .bottom > ul > li > div > .tab-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
#main-7 .wrapper > .bottom > ul > li > div > .tab-head > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.5px;
  color: #323656;
}
#main-7 .wrapper > .bottom > ul > li > div > .tab-head:after {
  content: "+";
  font-size: 22px;
  color: #0bca95;
}
#main-7 .wrapper > .bottom > ul > li > div > .content {
  font-size: 14px;
  line-height: 1.43;
  color: #323656;
  display: none;
  margin-top: 20px;
}
#map-section {
  position: relative;
}
#map-section > .wrapper {
  max-width: 1200px;
  pointer-events: none;
  padding-top: 145px;
  padding-bottom: 145px;
  z-index: 1;
  position: relative;
}
#map-section > .wrapper > .shadow {
  -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
}
#map-section > .wrapper > .shadow > div {
  pointer-events: all;
  display: inline-block;
  padding: 45px 50px 50px 50px;
  background-color: #fff;
  max-width: 367px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
  clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
}
#map-section > .wrapper > .shadow > div > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#map-section > .wrapper > .shadow > div > ul {
  margin-top: 40px;
}
#map-section > .wrapper > .shadow > div > ul > li:last-child {
  margin-bottom: 0;
}
#map-section > .wrapper > .shadow > div > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}
#map-section > .wrapper > .shadow > div > ul > li > div {
  margin-left: 15px;
  margin-top: -7px;
}
#map-section > .wrapper > .shadow > div > ul > li > div > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.5px;
  color: #323656;
}
#map-section > .wrapper > .shadow > div > ul > li > div > p {
  font-size: 14px;
  line-height: 1.43;
  color: #323656;
}
#map-section > #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
footer {
  background-color: #2f2f2f;
}
footer > .wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
footer > .wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}
footer > .wrapper > div > a {
  width: 128px;
}
footer > .wrapper > div > nav {
  width: 260px;
  margin-top: 30px;
}
footer > .wrapper > div > nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer > .wrapper > div > nav > ul > li {
  margin-bottom: 25px;
  width: 50%;
}
footer > .wrapper > div > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.1s ease;
  -o-transition: border-bottom 0.1s ease;
  transition: border-bottom 0.1s ease;
}
footer > .wrapper > div > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
footer > .wrapper > div > #work {
  margin-top: 30px;
}
footer > .wrapper > div > #work > h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}
footer > .wrapper > div > #work > ul > li:last-child {
  margin-right: 0;
}
footer > .wrapper > div > #work > ul > li {
  margin-right: 50px;
}
footer > .wrapper > div > #work > ul > li > span {
  opacity: 0.3;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul > li > p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
}
footer > .wrapper > div > #address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer > .wrapper > div > #address > div {
  text-align: right;
}
footer > .wrapper > div > #address > div > span,
footer > .wrapper > div > #address > div > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
footer > .wrapper > div > #address > div > span {
  font-weight: 500;
}
footer > .wrapper > div > #address > a {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
footer > .wrapper > div > #address > a:hover {
  -webkit-box-shadow: 0px 8px 20px 0px #0bca95;
  box-shadow: 0px 8px 20px 0px #0bca95;
}
footer > .wrapper > p {
  opacity: 0.3;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
@media (max-width: 1040px) {
  footer > .wrapper > div {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer > .wrapper > div > #address {
    margin-top: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer > .wrapper > div > #address > div {
    text-align: center;
  }
  footer > .wrapper > div > #address > div > p {
    text-align: center;
  }
}
#overlay {
  background-color: rgba(11, 202, 149, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  overflow: auto;
}
#overlay > div {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-height: 100%;
}
#overlay > div > div {
  margin-top: 0;
  position: relative;
}
#overlay > div > div > img {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */