#main-1 {
  .wrapper {
    padding-top: 90px;
    padding-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    > #m1-left {

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        color: #16192a;
      }

      > ul {
        margin-top: 50px;

        > li {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 45px;

          > div {
            position: relative;
            margin-right: 58px;

            > .dot {
              position: absolute;
              z-index: -1;
            }
          }

          > p {
            margin-top: -10px;
            width: 390px;
            font-size: 17px;
            line-height: 1.76;
            letter-spacing: 0.5px;
            color: #323656;
          }
        }

        > li:last-child {
          margin-bottom: 0;
        }
      }
    }

    > img {
      margin-top: 15px;
    }

    > .form {
      margin-top: -198px;
    }
  }
}

@media (max-width: 1100px) {
  #main-1 {

    .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > img {
        margin-top: 30px;
        margin-bottom: 40px;
      }

      > .shadow > .form {
        margin-top: 0;
      }
    }
  }
}