#main-5 {
  > .wrapper {
    padding-top: 110px;
    padding-bottom: 145px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    > .left {
      max-width: 656px;
      margin-top: -16px;

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        color: #16192a;
        margin-top: 35px;
      }

      > p {
        font-size: 17px;
        line-height: 1.76;
        color: #323656;
        margin-top: 25px;
        > a {
          color: #0bca95;
          text-decoration: underline;
        }
      }
    }

    > .right {
      -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));
      filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));

      > div {
        padding: 40px 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 458px;
        -webkit-clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
        clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
        background: #fff;

        > div {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin-bottom: 15px;

          > h1 {
            font-size: 34px;
            font-weight: 500;
            line-height: 1.41;
            color: #16192a;
          }
        }

        > p {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;

          > span {
            font-size: 17px;
            line-height: 2.94;
            color: #323656;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  #main-5 {
    .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > .left {
        margin-top: 0;
      }

      > .right {
        margin-top: 50px;
      }
    }
  }
}