#main-7 {
  .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1010px;

    > .top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        text-align: center;
        color: #16192a;
        width: 500px;
      }

      > ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 60px;
        width: 100%;

        > li {
          width: 25%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 30px;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;

          > img {
            height: 45px;
          }

          > span {
            margin-left: 19px;
          }
        }

      }

      > a {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-align: center;
        color: #ffffff;
        border-radius: 29px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        background-color: #0bca95;
        padding: 21px 37px;
        display: inline-block;
        text-transform: uppercase;
        margin-top: 42px;
        -webkit-transition: -webkit-box-shadow 0.3s ease;
        transition: -webkit-box-shadow 0.3s ease;
        -o-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
      }

      > a:hover {
        -webkit-box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
        box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
      }
    }

    > .bottom {
      margin-top: 100px;

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        text-align: center;
        color: #16192a;
      }

      > ul {
        margin-top: 65px;

        > li.active-tab {
          > div {
            > .tab-head:after {
              content: "-";
            }
          }
        }

        > li {
          -webkit-filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));
          filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));
          margin-bottom: 5px;
          > div {
            -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
            clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
            padding: 20px 30px 20px 35px;
            background-color: #fff;
            > .tab-head {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
              justify-content: space-between;
              cursor: pointer;

              > h2 {
                font-size: 17px;
                font-weight: 500;
                line-height: 1.18;
                letter-spacing: 0.5px;
                color: #323656;
              }
            }

            > .tab-head:after {
              content: "+";
              font-size: 22px;
              color: #0bca95;
            }

            > .content {
              font-size: 14px;
              line-height: 1.43;
              color: #323656;
              display: none;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}